# Basics for Jupyter Notebook

Will be creating a model to scrape data for NBA Fantasy. However, we've never used it before, hence we are looking at basics and utilizing it in this notebook.

Look at README txt file to see even more details/notes (I be switching between this and README file for notetaking, idk why lol)

One thing we see, running a markdown cell will execute the markdown as text. Code will output the code, rather give an actual output.

In [34]:
#however, you can still use the hashtag within a code segment like normal
a = 10
b = 20

In [35]:
print(a-b)

#look at how we can run one cell, then another, and how at one instance we can get -10, another we can get an undefined variable error

-10

# Examples of Running Code

see more notes in this corresponding section of README file

In [36]:
def add_one(a, b):
    return a + b

In [37]:
print(add_one(1,2))

3

Look at the [] number on the left, it shows the hierarchy of output. It DOES NOT have to be in numerical order. Find more details in README about this...

Cell will output last expression

In [38]:
#for example
add_one(1,2)
add_one(2,33)

35

In [39]:
#however, for print statements, will print ALL

print(add_one(1,2))

print(add_one(2,3))

3
5

Jabe talks about import statements here. Most of the important info we noted is in the README file in the corresponding area

However, I will put an example of what he did below:

In [40]:
import pandas

In [3]:
#pandas.read_csv()

#this ain't what you used to, right? All good, because in class, 
#we utilized ALIASES!

#import pandas as pd 

#ain't this what you did!

In [4]:
predicted_steals = [1,2,3,4,5]
actual_steals = [6,5,4,3,23]

In [5]:
from sklearn.metrics import mean_squared_error

In [6]:
lin_mse = mean_squared_error(predicted_steals, actual_steals)

In [7]:
print(lin_mse)


#in short, this function will be used as testing our models performance, comparing prediction vs actual

72.0

Variables and Raw Input

In [12]:
#useful function, type

goat = "LeBron"
type(goat)
print(goat)

LeBron

### List and Dictionaries

In [13]:
#some more basics and info: 

season_list = ['2014-2015', '2015-2016', '2016-2017']

print(season_list[1:3]) #prints out beginning inclusive to end (remember, 0,1,2)

['2015-2016', '2016-2017']

In [14]:
lebron_dict = {
    'player_name': 'LeBron James',
    'team' : 'LA Lakers',
    'player_id' : 2544,
    'season_id' : '2018-2019', 
    'ppg' : 27.4
    
}

print(lebron_dict)

{'player_name': 'LeBron James', 'team': 'LA Lakers', 'player_id': 2544, 'season_id': '2018-2019', 'ppg': 27.4}

In [15]:
team = lebron_dict['team'] #pulls team, so with key of team, pulls Laker value

print(team)

LA Lakers

### testing break statement

In [19]:

nba_players = ['LeBron', 'Baron', 'Larry', 'Kobe']


#this prints Larry AND stops    
for players in nba_players:
    print(players)
    if players == 'Larry':
        break
    
#this just stops AT Larry
for players in nba_players:
    if players == 'Larry':
        break
    print(players)

LeBron
Baron
Larry
Kobe
LeBron
Baron
Larry

# continue statement...

In [20]:
#can act as a "skip," if you reached the if portion, continue ONWARDS

for players in nba_players:
    if players == 'LeBron':
        continue
    print(players)

Baron
Larry
Kobe

In [21]:
#printing dictionary values

lebron_dict = {
    'player_name': 'LeBron James',
    'team' : 'LA Lakers',
    'player_id' : 2544,
    'season_id' : '2018-2019', 
    'ppg' : 27.4
    
}

In [24]:
for key, value in lebron_dict.items():
    print(key, value)

player_name LeBron James
team LA Lakers
player_id 2544
season_id 2018-2019
ppg 27.4

## now working with arrays (skipped over if else and for just bc)

In [25]:
import numpy as np

#embiid pts, reb, blk

embiid_17_stats = np.array([627, 243, 76])
embiid_18_stats = np.array([1445, 690, 111])
embiid_19_stats = np.array([1707, 848, 116])

In [27]:
embiid_career_stats = (embiid_17_stats + embiid_18_stats + embiid_19_stats)

In [28]:
total = (63 + 31 + 62)

In [29]:
embiid_career_stats / total

array([24.22435897, 11.41666667,  1.94230769])

# DataFrames and Series

DataFrame - Excel worksheet or SQL table
- has rows and columns, which has value at [row, col]
- row and columns have names

Series - single column of DataFrame, one dimensional labeled array


DataFrame, collection of Series
Series, column of DataFrame

# Creating DataFrame Examples

In [1]:
import pandas as pd

In [9]:
lakers_dict = {
    'first_name' : ['LeBron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'],
    'last_name' : ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'],
    'ppg' : [27.4, 18.7, 9.9, 18.3, 7.8],
    'apg' : [8.3, 2.5, 5.4, 3.0, 1.4],
    'rpg' : [8.5, 5.5, 5.3, 5.1, 3.7]
    
}

lakers_df = pd.DataFrame(lakers_dict)
#super cool note, think of ._ (method) as gping into pd library to get DataFrame method

lakers_df = pd.DataFrame(lakers_dict, index = ["Player 1:", "Player 2:", "Player 3:", "Player 4:", "Player 5:"])

print(lakers_df)

          first_name last_name   ppg  apg  rpg
Player 1:     LeBron     James  27.4  8.3  8.5
Player 2:       Kyle     Kuzma  18.7  2.5  5.5
Player 3:      Lonzo      Ball   9.9  5.4  5.3
Player 4:    Brandon    Ingram  18.3  3.0  5.1
Player 5:       Josh      Hart   7.8  1.4  3.7

can also edit column names as well

In [11]:
stats = [['LeBron', 4, 4], ['Kuzma', 2, 2], ['Lonzo', 1, 4]]
stat_df = pd.DataFrame(stats, columns = ['Player Name', 'Off Rebound', 'Def Rebound'], index = [1,2,3])
print(stat_df)

  Player Name  Off Rebound  Def Rebound
1      LeBron            4            4
2       Kuzma            2            2
3       Lonzo            1            4

Series, single col of DataFrame

watch

In [12]:
rebs = [6,9,11,7,3]

In [14]:
df_trial = pd.DataFrame(rebs, columns = ['LeBron Rebounds'])
series = pd.Series(rebs)

In [15]:
print(df_trial)
print(series)

   LeBron Rebounds
0                6
1                9
2               11
3                7
4                3
0     6
1     9
2    11
3     7
4     3
dtype: int64

# Reading CSV Files and Unique Info

In [22]:
#can read it like this when the csv file is WITHIN our file directory, where the code can directly access it

df = pd.read_csv('player_info.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'player_info.csv'

what if its in another folder?

In [26]:
#adding path to file

df = pd.read_csv('../nba_csv/player_info.csv')

print(df.head(10))

   player_id            player_name season_id
0        920             A.C. Green   1996-97
1        243            Aaron McKie   1996-97
2       1425         Aaron Williams   1996-97
3        768              Acie Earl   1996-97
4        228             Adam Keefe   1996-97
5        154        Adrian Caldwell   1996-97
6        673         Alan Henderson   1996-97
7       1059  Aleksandar Djordjevic   1996-97
8        275          Allan Houston   1996-97
9        947          Allen Iverson   1996-97

In [36]:
#see if we need to ignore header row

#enter pd.read_csv then SHIFT + TAB

#pd.read_csv() #infer = infer from first row

print(df.head(100))

#his 0th index had a NaN, ours didn't so let's not worry about it

    player_id        player_name season_id
0         920         A.C. Green   1996-97
1         243        Aaron McKie   1996-97
2        1425     Aaron Williams   1996-97
3         768          Acie Earl   1996-97
4         228         Adam Keefe   1996-97
..        ...                ...       ...
95          7        Dan Schayes   1996-97
96        344        Dana Barros   1996-97
97        198        Danny Ferry   1996-97
98        330      Danny Manning   1996-97
99        353  Darrell Armstrong   1996-97

[100 rows x 3 columns]

In [39]:
#setting index as player id

df = pd.read_csv('../nba_csv/player_info.csv', index_col = 'player_id')
print(df)

              player_name season_id
player_id
920            A.C. Green   1996-97
243           Aaron McKie   1996-97
1425       Aaron Williams   1996-97
768             Acie Earl   1996-97
228            Adam Keefe   1996-97
...                   ...       ...
1628380      Zach Collins   2017-18
203897        Zach LaVine   2017-18
2216        Zach Randolph   2017-18
2585        Zaza Pachulia   2017-18
1627753           Zhou Qi   2017-18

[29228 rows x 2 columns]

In [41]:
#say we wanted two columns in df: 

#just added new csv file

df = pd.read_csv('../nba_csv/player_general_traditional_per_game_data.csv', usecols = ['player_id', 'season_id'])
print(df)

#usecols will essentially take a list of the columns we want

       player_id season_id
0            471   1996-97
1            920   1996-97
2            243   1996-97
3           1425   1996-97
4            768   1996-97
...          ...       ...
10628     203897   2018-19
10629    1629155   2018-19
10630       2585   2018-19
10631    1629015   2018-19
10632    1627753   2018-19

[10633 rows x 2 columns]

# Attributes and Methods of DataFrame

method: .method() format
attribute: .attribute format

essentially, attributes are the data explicitly, while methods affect the data through its calling

In [46]:
df = pd.read_csv('../nba_csv/player_general_traditional_per_game_data.csv')

#an attribute of the df is SHAPE (example)

print(df.shape) #prints row, col

#I've never seen this attribute, this is dope!
df.dtypes

#essentially shows all the types of data within dataframe

(10633, 21)

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

## Interesting Note: Attributes return info ab the object, don't modify ONLY view!!

In [47]:
#if we want more info, let's use some methods

df.head() #prints first 5 rows of df, still prints 21 cols tho

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0

Because it is a method, it saves this info into a new dataframe, so...

In [48]:
df_five_rows = df.head()
print(df_five_rows)

#this is a new df!

   player_id season_id    gp   age   min  fgm  fga  fg_pct  fg3m  fg3a  ...  \
0        471   1996-97  41.0   NaN  13.3  1.1  3.3   0.331   0.2   0.7  ...
1        920   1996-97  83.0  33.0  30.8  2.8  5.8   0.483   0.0   0.2  ...
2        243   1996-97  83.0  24.0  20.4  1.8  4.4   0.411   0.5   1.2  ...
3       1425   1996-97  33.0  25.0  17.8  2.6  4.5   0.574   0.0   0.0  ...
4        768   1996-97  47.0  27.0  11.1  1.4  3.8   0.374   0.0   0.1  ...

   ftm  fta  ft_pct  oreb  dreb  ast  tov  stl  blk  pts
0  1.0  1.2   0.875   0.7   1.8  1.4  0.8  0.2  0.3  3.4
1  1.5  2.4   0.650   2.7   5.2  0.8  0.9  0.8  0.2  7.2
2  1.1  1.3   0.836   0.5   2.2  1.9  1.1  0.9  0.3  5.2
3  1.0  1.5   0.673   1.9   2.5  0.5  1.0  0.5  0.9  6.2
4  1.1  1.8   0.643   0.7   1.3  0.4  0.7  0.3  0.6  4.0

[5 rows x 21 columns]

New Method: Sample

In [51]:
#returns n number of random rows, samples your data

df_sample = df.sample(3)
print(df_sample)

#the season_ids in the data were close together, however with sample it takes it at random

df.info()
#gives us info on index, datatypes and memory of df

      player_id season_id    gp   age   min  fgm  fga  fg_pct  fg3m  fg3a  \
5274        208   2007-08  55.0  38.0  23.2  4.2  9.7   0.438   0.4   1.4
5817     201229   2009-10  46.0  25.0  31.0  4.2  9.8   0.430   1.1   3.3
871         962   1997-98  82.0  24.0  28.6  3.6  8.9   0.404   0.7   2.1

      ...  ftm  fta  ft_pct  oreb  dreb  ast  tov  stl  blk   pts
5274  ...  2.3  2.6   0.882   0.3   2.2  3.9  1.8  0.7  0.1  11.2
5817  ...  2.2  2.9   0.769   1.8   5.1  1.9  1.0  0.7  0.7  11.7
871   ...  1.8  2.4   0.742   1.7   2.7  2.2  1.7  1.3  0.5   9.6

[3 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633 entries, 0 to 10632
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  10633 non-null  int64
 1   season_id  10633 non-null  object
 2   gp         10633 non-null  float64
 3   age        10631 non-null  float64
 4   min        10633 non-null  float64
 5   fgm        10633 non-null  float64
 6   fga        10633 non-null  float64
 7   fg_pct     10633 non-null  float64
 8   fg3m       10633 non-null  float64
 9   fg3a       10633 non-null  float64
 10  fg3_pct    10633 non-null  float64
 11  ftm        10633 non-null  float64
 12  fta        10633 non-null  float64
 13  ft_pct     10633 non-null  float64
 14  oreb       10633 non-null  float64
 15  dreb       10633 non-null  float64
 16  ast        10633 non-null  float64
 17  tov        10633 non-null  float64
 18  stl        10633 non-null  float64
 19  blk        10633 non-null  float64
 20  pts        10633 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 1.7+ MB

In [52]:
df.describe()

#gives us summary description on numerical columns
#gives count, mean, etc of each column

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
count,1.063300e+04,10633.000000,10631.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000
mean,1.684222e+05,52.633782,27.235255,20.398853,3.031468,6.798354,0.433469,0.545359,1.562682,0.235817,1.495429,2.003480,0.698231,0.970159,2.589119,1.796398,1.186043,0.646929,0.412602,8.101129
std,3.882780e+05,25.115265,4.344703,10.099563,2.159450,4.594357,0.097001,0.661287,1.743706,0.179157,1.397361,1.769024,0.195102,0.831041,1.789594,1.789208,0.791090,0.449050,0.481362,5.903179
min,2.000000e+00,1.000000,18.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.495000e+03,33.000000,24.000000,12.100000,1.300000,3.200000,0.398000,0.000000,0.100000,0.000000,0.500000,0.800000,0.643000,0.400000,1.300000,0.600000,0.600000,0.300000,0.100000,3.500000
50%,2.501000e+03,59.000000,27.000000,19.800000,2.500000,5.700000,0.437000,0.300000,1.000000,0.298000,1.100000,1.500000,0.745000,0.700000,2.200000,1.200000,1.000000,0.600000,0.300000,6.600000
75%,2.018800e+05,75.000000,30.000000,28.700000,4.300000,9.500000,0.479000,0.900000,2.600000,0.364000,2.000000,2.700000,0.814000,1.400000,3.400000,2.400000,1.600000,0.900000,0.500000,11.500000
max,1.629541e+06,85.000000,44.000000,44.400000,12.200000,27.800000,1.000000,5.100000,13.200000,1.000000,9.700000,13.100000,1.000000,6.800000,11.500000,11.700000,5.700000,2.900000,3.900000,36.100000

Note: this mainly gives useful data on NUMERICALLLLL columns, hence the info tab is useful in combination to see, i.e. for the player_id, its type is int BUT that number is useless to get its sum for, because that number isn't meaningful in that way

So, mean age of NBA players is around 27, min age atm is 18, etc...

In [54]:
#df.sum()
#df.mean()
df.max()
#df.corr()
#df.count() #number of non-null vals in DF col

player_id    1629541
season_id    2018-19
gp              85.0
age             44.0
min             44.4
fgm             12.2
fga             27.8
fg_pct           1.0
fg3m             5.1
fg3a            13.2
fg3_pct          1.0
ftm              9.7
fta             13.1
ft_pct           1.0
oreb             6.8
dreb            11.5
ast             11.7
tov              5.7
stl              2.9
blk              3.9
pts             36.1
dtype: object

Note: this is returning everything in one col, getting the _(i.e. sum)_ of df, henceee its a SERIES!

## Selecting Series/DF Cols to make new DFs

In [59]:
df = pd.read_csv('../nba_csv/player_stats_total.csv')

df_slim = df.sample(20)

#list all column names

list(df_slim) #lists all the column names

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts']

selecting columns of DF

In [472]:
#first method, only works for column names without spaces

#df_slim.player_name

#second (best) method

df_slim['Player']

262      Mouhamed Gueye
644    Matisse Thybulle
59        D?vis Bert?ns
375      Kira Lewis Jr.
381       Isaiah Livers
Name: Player, dtype: object

In [69]:
type(df_slim['pts']) #type is Series

pandas.core.series.Series

In [68]:
df_slim[['player_name', 'pts']] #passing in list of column names

            player_name     pts
681        Brandon Bass   866.0
78    Metta World Peace  1068.0
138      Chris Andersen   320.0
1680    Wesley Matthews   986.0
1242   Anthony Tolliver   383.0
50         Vince Carter  1022.0
415         Matt Barnes   491.0
1121         Luis Scola  1044.0
142         Joe Johnson   803.0
290          Boris Diaw   365.0
1364         Kevin Love  1432.0
1565      Jonas Jerebko   377.0
431       Udonis Haslem   173.0
1317        Eric Gordon  1045.0
1628      Stephen Curry  1786.0
1771    Greivis Vasquez     7.0
2589    Josh Richardson   341.0
100      Jamal Crawford  1280.0
344         Dwyane Wade  1941.0
1485   Dante Cunningham   482.0

then he goes into how we can make the inside a variable

listname = ['player_name', 'pts']

instead of dealing with bracket structure, we create variable instead of list

then, he goes into iloc, integer location

In [73]:
#using in # row and col selection, 0-n

list(df_slim)

print(df_slim.iloc[:, 0]) #all rows, 0th column

#returns player name as Series

681          Brandon Bass
78      Metta World Peace
138        Chris Andersen
1680      Wesley Matthews
1242     Anthony Tolliver
50           Vince Carter
415           Matt Barnes
1121           Luis Scola
142           Joe Johnson
290            Boris Diaw
1364           Kevin Love
1565        Jonas Jerebko
431         Udonis Haslem
1317          Eric Gordon
1628        Stephen Curry
1771      Greivis Vasquez
2589      Josh Richardson
100        Jamal Crawford
344           Dwyane Wade
1485     Dante Cunningham
Name: player_name, dtype: object

# Adding and Deleting Columns

In [74]:
df = pd.read_csv('../nba_csv/player_stats_total.csv')

Note: make sure when you add col, that the names don't match

In [76]:
df_slim = df.sample(20)

print(df_slim)

                player_name  player_id season_id    gp   age          min  \
2580              Joe Young    1626202   2016-17  33.0  24.0   135.163000
1491       Dante Cunningham     201967   2016-17  66.0  30.0  1648.510000
629            Trevor Ariza       2772   2006-07  57.0  21.0  1277.700000
2581       Jonathon Simmons     203613   2015-16  55.0  26.0   812.813000
253           Mike Dunleavy       2399   2003-04  75.0  23.0  2340.850000
693                CJ Miles     101139   2014-15  70.0  28.0  1841.090000
208          Tyson Chandler       2199   2004-05  80.0  22.0  2187.900000
116             Mike Miller       2034   2007-08  70.0  28.0  2474.150000
577               Luol Deng       2736   2015-16  74.0  31.0  2393.940000
192             Tony Parker       2225   2004-05  80.0  23.0  2735.790000
1051            Ian Mahinmi     101133   2016-17  31.0  30.0   554.802000
1375           Kosta Koufos     201585   2013-14  80.0  25.0  1349.330000
498              Beno Udrih       2757   2014-15  79.0  32.0  1494.650000
312           Dahntay Jones       2563   2005-06  71.0  25.0   967.025000
2668           Danuel House    1627863   2016-17   1.0  23.0     0.826667
533                JR Smith       2747   2010-11  79.0  25.0  1967.460000
561          Kris Humphries       2743   2012-13  65.0  28.0  1191.170000
1931            Enes Kanter     202683   2013-14  80.0  22.0  2137.930000
557          Kris Humphries       2743   2008-09  29.0  24.0   265.060000
2286  Giannis Antetokounmpo     203507   2014-15  81.0  20.0  2540.590000

        fgm     fga   fg3m    ftm    fta   oreb   dreb    ast    tov   stl  \
2580   26.0    72.0    5.0   11.0   15.0    1.0   16.0   15.0    5.0   4.0
1491  174.0   359.0   71.0   16.0   27.0   56.0  221.0   37.0   28.0  39.0
629   200.0   371.0    0.0  106.0  171.0   98.0  151.0   65.0   84.0  59.0
2581  122.0   242.0   18.0   69.0   92.0   16.0   80.0   58.0   53.0  24.0
253   323.0   720.0   94.0  137.0  185.0   87.0  355.0  220.0  142.0  68.0
693   329.0   827.0  154.0  130.0  161.0   18.0  196.0   75.0   73.0  60.0
208   207.0   419.0    0.0  226.0  336.0  261.0  514.0   65.0  118.0  69.0
116   414.0   824.0  155.0  164.0  212.0   51.0  416.0  240.0  182.0  35.0
577   339.0   745.0   88.0  145.0  192.0  108.0  335.0  140.0   81.0  74.0
192   539.0  1118.0   43.0  210.0  323.0   47.0  251.0  490.0  215.0  98.0
1051   65.0   111.0    0.0   43.0   75.0   47.0  103.0   19.0   34.0  33.0
1375  227.0   459.0    0.0   60.0   93.0  160.0  258.0   39.0   67.0  32.0
498   246.0   505.0   26.0   87.0  102.0   20.0  123.0  220.0   89.0  46.0
312   109.0   263.0    3.0   60.0   93.0   20.0   84.0   39.0   50.0  38.0
2668    0.0     0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0   0.0
533   341.0   784.0  124.0  163.0  221.0   45.0  277.0  175.0  100.0  92.0
561   139.0   310.0    0.0   97.0  123.0  126.0  239.0   32.0   57.0  16.0
1931  419.0   853.0    0.0  149.0  204.0  222.0  376.0   75.0  144.0  28.0
557    38.0    90.0    0.0   38.0   48.0   24.0   46.0   10.0    8.0   8.0
2286  383.0   780.0    7.0  257.0  347.0  100.0  442.0  207.0  173.0  73.0

        blk     pts
2580    0.0    68.0
1491   28.0   435.0
629    19.0   506.0
2581    5.0   331.0
253    13.0   877.0
693    26.0   942.0
208   141.0   640.0
116    16.0  1147.0
577    29.0   911.0
192     4.0  1331.0
1051   24.0   173.0
1375   71.0   514.0
498     8.0   605.0
312    15.0   281.0
2668    0.0     0.0
533    16.0   969.0
561    33.0   375.0
1931   42.0   987.0
557     6.0   114.0
2286   85.0  1030.0

In [77]:
#say we want to create points per game col

df_slim['ppg'] = 0

#creating new col, ppg does not exist here

df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2580,Joe Young,1626202,2016-17,33.0,24.0,135.163000,26.0,72.0,5.0,11.0,15.0,1.0,16.0,15.0,5.0,4.0,0.0,68.0,0
1491,Dante Cunningham,201967,2016-17,66.0,30.0,1648.510000,174.0,359.0,71.0,16.0,27.0,56.0,221.0,37.0,28.0,39.0,28.0,435.0,0
629,Trevor Ariza,2772,2006-07,57.0,21.0,1277.700000,200.0,371.0,0.0,106.0,171.0,98.0,151.0,65.0,84.0,59.0,19.0,506.0,0
2581,Jonathon Simmons,203613,2015-16,55.0,26.0,812.813000,122.0,242.0,18.0,69.0,92.0,16.0,80.0,58.0,53.0,24.0,5.0,331.0,0
253,Mike Dunleavy,2399,2003-04,75.0,23.0,2340.850000,323.0,720.0,94.0,137.0,185.0,87.0,355.0,220.0,142.0,68.0,13.0,877.0,0
693,CJ Miles,101139,2014-15,70.0,28.0,1841.090000,329.0,827.0,154.0,130.0,161.0,18.0,196.0,75.0,73.0,60.0,26.0,942.0,0
208,Tyson Chandler,2199,2004-05,80.0,22.0,2187.900000,207.0,419.0,0.0,226.0,336.0,261.0,514.0,65.0,118.0,69.0,141.0,640.0,0
116,Mike Miller,2034,2007-08,70.0,28.0,2474.150000,414.0,824.0,155.0,164.0,212.0,51.0,416.0,240.0,182.0,35.0,16.0,1147.0,0
577,Luol Deng,2736,2015-16,74.0,31.0,2393.940000,339.0,745.0,88.0,145.0,192.0,108.0,335.0,140.0,81.0,74.0,29.0,911.0,0
192,Tony Parker,2225,2004-05,80.0,23.0,2735.790000,539.0,1118.0,43.0,210.0,323.0,47.0,251.0,490.0,215.0,98.0,4.0,1331.0,0
1051,Ian Mahinmi,101133,2016-17,31.0,30.0,554.802000,65.0,111.0,0.0,43.0,75.0,47.0,103.0,19.0,34.0,33.0,24.0,173.0,0
1375,Kosta Koufos,201585,2013-14,80.0,25.0,1349.330000,227.0,459.0,0.0,60.0,93.0,160.0,258.0,39.0,67.0,32.0,71.0,514.0,0
498,Beno Udrih,2757,2014-15,79.0,32.0,1494.650000,246.0,505.0,26.0,87.0,102.0,20.0,123.0,220.0,89.0,46.0,8.0,605.0,0
312,Dahntay Jones,2563,2005-06,71.0,25.0,967.025000,109.0,263.0,3.0,60.0,93.0,20.0,84.0,39.0,50.0,38.0,15.0,281.0,0
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
533,JR Smith,2747,2010-11,79.0,25.0,1967.460000,341.0,784.0,124.0,163.0,221.0,45.0,277.0,175.0,100.0,92.0,16.0,969.0,0
561,Kris Humphries,2743,2012-13,65.0,28.0,1191.170000,139.0,310.0,0.0,97.0,123.0,126.0,239.0,32.0,57.0,16.0,33.0,375.0,0
1931,Enes Kanter,202683,2013-14,80.0,22.0,2137.930000,419.0,853.0,0.0,149.0,204.0,222.0,376.0,75.0,144.0,28.0,42.0,987.0,0
557,Kris Humphries,2743,2008-09,29.0,24.0,265.060000,38.0,90.0,0.0,38.0,48.0,24.0,46.0,10.0,8.0,8.0,6.0,114.0,0
2286,Giannis Antetokounmpo,203507,2014-15,81.0,20.0,2540.590000,383.0,780.0,7.0,257.0,347.0,100.0,442.0,207.0,173.0,73.0,85.0,1030.0,0

In [82]:
#updating correct ppg

df_slim['ppg'] = round(df_slim['pts'] / df_slim['gp'], 2)

#df_slim['ppg'] = df_slim['ppg'].round(2)

df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2580,Joe Young,1626202,2016-17,33.0,24.0,135.163000,26.0,72.0,5.0,11.0,15.0,1.0,16.0,15.0,5.0,4.0,0.0,68.0,2.06
1491,Dante Cunningham,201967,2016-17,66.0,30.0,1648.510000,174.0,359.0,71.0,16.0,27.0,56.0,221.0,37.0,28.0,39.0,28.0,435.0,6.59
629,Trevor Ariza,2772,2006-07,57.0,21.0,1277.700000,200.0,371.0,0.0,106.0,171.0,98.0,151.0,65.0,84.0,59.0,19.0,506.0,8.88
2581,Jonathon Simmons,203613,2015-16,55.0,26.0,812.813000,122.0,242.0,18.0,69.0,92.0,16.0,80.0,58.0,53.0,24.0,5.0,331.0,6.02
253,Mike Dunleavy,2399,2003-04,75.0,23.0,2340.850000,323.0,720.0,94.0,137.0,185.0,87.0,355.0,220.0,142.0,68.0,13.0,877.0,11.69
693,CJ Miles,101139,2014-15,70.0,28.0,1841.090000,329.0,827.0,154.0,130.0,161.0,18.0,196.0,75.0,73.0,60.0,26.0,942.0,13.46
208,Tyson Chandler,2199,2004-05,80.0,22.0,2187.900000,207.0,419.0,0.0,226.0,336.0,261.0,514.0,65.0,118.0,69.0,141.0,640.0,8.00
116,Mike Miller,2034,2007-08,70.0,28.0,2474.150000,414.0,824.0,155.0,164.0,212.0,51.0,416.0,240.0,182.0,35.0,16.0,1147.0,16.39
577,Luol Deng,2736,2015-16,74.0,31.0,2393.940000,339.0,745.0,88.0,145.0,192.0,108.0,335.0,140.0,81.0,74.0,29.0,911.0,12.31
192,Tony Parker,2225,2004-05,80.0,23.0,2735.790000,539.0,1118.0,43.0,210.0,323.0,47.0,251.0,490.0,215.0,98.0,4.0,1331.0,16.64
1051,Ian Mahinmi,101133,2016-17,31.0,30.0,554.802000,65.0,111.0,0.0,43.0,75.0,47.0,103.0,19.0,34.0,33.0,24.0,173.0,5.58
1375,Kosta Koufos,201585,2013-14,80.0,25.0,1349.330000,227.0,459.0,0.0,60.0,93.0,160.0,258.0,39.0,67.0,32.0,71.0,514.0,6.42
498,Beno Udrih,2757,2014-15,79.0,32.0,1494.650000,246.0,505.0,26.0,87.0,102.0,20.0,123.0,220.0,89.0,46.0,8.0,605.0,7.66
312,Dahntay Jones,2563,2005-06,71.0,25.0,967.025000,109.0,263.0,3.0,60.0,93.0,20.0,84.0,39.0,50.0,38.0,15.0,281.0,3.96
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.00
533,JR Smith,2747,2010-11,79.0,25.0,1967.460000,341.0,784.0,124.0,163.0,221.0,45.0,277.0,175.0,100.0,92.0,16.0,969.0,12.27
561,Kris Humphries,2743,2012-13,65.0,28.0,1191.170000,139.0,310.0,0.0,97.0,123.0,126.0,239.0,32.0,57.0,16.0,33.0,375.0,5.77
1931,Enes Kanter,202683,2013-14,80.0,22.0,2137.930000,419.0,853.0,0.0,149.0,204.0,222.0,376.0,75.0,144.0,28.0,42.0,987.0,12.34
557,Kris Humphries,2743,2008-09,29.0,24.0,265.060000,38.0,90.0,0.0,38.0,48.0,24.0,46.0,10.0,8.0,8.0,6.0,114.0,3.93
2286,Giannis Antetokounmpo,203507,2014-15,81.0,20.0,2540.590000,383.0,780.0,7.0,257.0,347.0,100.0,442.0,207.0,173.0,73.0,85.0,1030.0,12.72

other method to add column: insert method

- permanently modifies df
- starts from 0
- inserted to RIGHT of value inserted

In [83]:
df_slim.insert(3, column = 'league', value = 'NBA')

#to the right of 4th col (0,1,2,3)
#

df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2580,Joe Young,1626202,2016-17,NBA,33.0,24.0,135.163000,26.0,72.0,5.0,11.0,15.0,1.0,16.0,15.0,5.0,4.0,0.0,68.0,2.06
1491,Dante Cunningham,201967,2016-17,NBA,66.0,30.0,1648.510000,174.0,359.0,71.0,16.0,27.0,56.0,221.0,37.0,28.0,39.0,28.0,435.0,6.59
629,Trevor Ariza,2772,2006-07,NBA,57.0,21.0,1277.700000,200.0,371.0,0.0,106.0,171.0,98.0,151.0,65.0,84.0,59.0,19.0,506.0,8.88
2581,Jonathon Simmons,203613,2015-16,NBA,55.0,26.0,812.813000,122.0,242.0,18.0,69.0,92.0,16.0,80.0,58.0,53.0,24.0,5.0,331.0,6.02
253,Mike Dunleavy,2399,2003-04,NBA,75.0,23.0,2340.850000,323.0,720.0,94.0,137.0,185.0,87.0,355.0,220.0,142.0,68.0,13.0,877.0,11.69
693,CJ Miles,101139,2014-15,NBA,70.0,28.0,1841.090000,329.0,827.0,154.0,130.0,161.0,18.0,196.0,75.0,73.0,60.0,26.0,942.0,13.46
208,Tyson Chandler,2199,2004-05,NBA,80.0,22.0,2187.900000,207.0,419.0,0.0,226.0,336.0,261.0,514.0,65.0,118.0,69.0,141.0,640.0,8.00
116,Mike Miller,2034,2007-08,NBA,70.0,28.0,2474.150000,414.0,824.0,155.0,164.0,212.0,51.0,416.0,240.0,182.0,35.0,16.0,1147.0,16.39
577,Luol Deng,2736,2015-16,NBA,74.0,31.0,2393.940000,339.0,745.0,88.0,145.0,192.0,108.0,335.0,140.0,81.0,74.0,29.0,911.0,12.31
192,Tony Parker,2225,2004-05,NBA,80.0,23.0,2735.790000,539.0,1118.0,43.0,210.0,323.0,47.0,251.0,490.0,215.0,98.0,4.0,1331.0,16.64
1051,Ian Mahinmi,101133,2016-17,NBA,31.0,30.0,554.802000,65.0,111.0,0.0,43.0,75.0,47.0,103.0,19.0,34.0,33.0,24.0,173.0,5.58
1375,Kosta Koufos,201585,2013-14,NBA,80.0,25.0,1349.330000,227.0,459.0,0.0,60.0,93.0,160.0,258.0,39.0,67.0,32.0,71.0,514.0,6.42
498,Beno Udrih,2757,2014-15,NBA,79.0,32.0,1494.650000,246.0,505.0,26.0,87.0,102.0,20.0,123.0,220.0,89.0,46.0,8.0,605.0,7.66
312,Dahntay Jones,2563,2005-06,NBA,71.0,25.0,967.025000,109.0,263.0,3.0,60.0,93.0,20.0,84.0,39.0,50.0,38.0,15.0,281.0,3.96
2668,Danuel House,1627863,2016-17,NBA,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.00
533,JR Smith,2747,2010-11,NBA,79.0,25.0,1967.460000,341.0,784.0,124.0,163.0,221.0,45.0,277.0,175.0,100.0,92.0,16.0,969.0,12.27
561,Kris Humphries,2743,2012-13,NBA,65.0,28.0,1191.170000,139.0,310.0,0.0,97.0,123.0,126.0,239.0,32.0,57.0,16.0,33.0,375.0,5.77
1931,Enes Kanter,202683,2013-14,NBA,80.0,22.0,2137.930000,419.0,853.0,0.0,149.0,204.0,222.0,376.0,75.0,144.0,28.0,42.0,987.0,12.34
557,Kris Humphries,2743,2008-09,NBA,29.0,24.0,265.060000,38.0,90.0,0.0,38.0,48.0,24.0,46.0,10.0,8.0,8.0,6.0,114.0,3.93
2286,Giannis Antetokounmpo,203507,2014-15,NBA,81.0,20.0,2540.590000,383.0,780.0,7.0,257.0,347.0,100.0,442.0,207.0,173.0,73.0,85.0,1030.0,12.72

In [84]:
#delete 

del df_slim['ppg']

df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2580,Joe Young,1626202,2016-17,NBA,33.0,24.0,135.163000,26.0,72.0,5.0,11.0,15.0,1.0,16.0,15.0,5.0,4.0,0.0,68.0
1491,Dante Cunningham,201967,2016-17,NBA,66.0,30.0,1648.510000,174.0,359.0,71.0,16.0,27.0,56.0,221.0,37.0,28.0,39.0,28.0,435.0
629,Trevor Ariza,2772,2006-07,NBA,57.0,21.0,1277.700000,200.0,371.0,0.0,106.0,171.0,98.0,151.0,65.0,84.0,59.0,19.0,506.0
2581,Jonathon Simmons,203613,2015-16,NBA,55.0,26.0,812.813000,122.0,242.0,18.0,69.0,92.0,16.0,80.0,58.0,53.0,24.0,5.0,331.0
253,Mike Dunleavy,2399,2003-04,NBA,75.0,23.0,2340.850000,323.0,720.0,94.0,137.0,185.0,87.0,355.0,220.0,142.0,68.0,13.0,877.0
693,CJ Miles,101139,2014-15,NBA,70.0,28.0,1841.090000,329.0,827.0,154.0,130.0,161.0,18.0,196.0,75.0,73.0,60.0,26.0,942.0
208,Tyson Chandler,2199,2004-05,NBA,80.0,22.0,2187.900000,207.0,419.0,0.0,226.0,336.0,261.0,514.0,65.0,118.0,69.0,141.0,640.0
116,Mike Miller,2034,2007-08,NBA,70.0,28.0,2474.150000,414.0,824.0,155.0,164.0,212.0,51.0,416.0,240.0,182.0,35.0,16.0,1147.0
577,Luol Deng,2736,2015-16,NBA,74.0,31.0,2393.940000,339.0,745.0,88.0,145.0,192.0,108.0,335.0,140.0,81.0,74.0,29.0,911.0
192,Tony Parker,2225,2004-05,NBA,80.0,23.0,2735.790000,539.0,1118.0,43.0,210.0,323.0,47.0,251.0,490.0,215.0,98.0,4.0,1331.0
1051,Ian Mahinmi,101133,2016-17,NBA,31.0,30.0,554.802000,65.0,111.0,0.0,43.0,75.0,47.0,103.0,19.0,34.0,33.0,24.0,173.0
1375,Kosta Koufos,201585,2013-14,NBA,80.0,25.0,1349.330000,227.0,459.0,0.0,60.0,93.0,160.0,258.0,39.0,67.0,32.0,71.0,514.0
498,Beno Udrih,2757,2014-15,NBA,79.0,32.0,1494.650000,246.0,505.0,26.0,87.0,102.0,20.0,123.0,220.0,89.0,46.0,8.0,605.0
312,Dahntay Jones,2563,2005-06,NBA,71.0,25.0,967.025000,109.0,263.0,3.0,60.0,93.0,20.0,84.0,39.0,50.0,38.0,15.0,281.0
2668,Danuel House,1627863,2016-17,NBA,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
533,JR Smith,2747,2010-11,NBA,79.0,25.0,1967.460000,341.0,784.0,124.0,163.0,221.0,45.0,277.0,175.0,100.0,92.0,16.0,969.0
561,Kris Humphries,2743,2012-13,NBA,65.0,28.0,1191.170000,139.0,310.0,0.0,97.0,123.0,126.0,239.0,32.0,57.0,16.0,33.0,375.0
1931,Enes Kanter,202683,2013-14,NBA,80.0,22.0,2137.930000,419.0,853.0,0.0,149.0,204.0,222.0,376.0,75.0,144.0,28.0,42.0,987.0
557,Kris Humphries,2743,2008-09,NBA,29.0,24.0,265.060000,38.0,90.0,0.0,38.0,48.0,24.0,46.0,10.0,8.0,8.0,6.0,114.0
2286,Giannis Antetokounmpo,203507,2014-15,NBA,81.0,20.0,2540.590000,383.0,780.0,7.0,257.0,347.0,100.0,442.0,207.0,173.0,73.0,85.0,1030.0

In [88]:
df_slim = df_slim.drop('league', axis = 1)
#remember, 0 = row, 1 = col, etc.
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2580,Joe Young,1626202,2016-17,33.0,24.0,135.163000,26.0,72.0,5.0,11.0,15.0,1.0,16.0,15.0,5.0,4.0,0.0,68.0
1491,Dante Cunningham,201967,2016-17,66.0,30.0,1648.510000,174.0,359.0,71.0,16.0,27.0,56.0,221.0,37.0,28.0,39.0,28.0,435.0
629,Trevor Ariza,2772,2006-07,57.0,21.0,1277.700000,200.0,371.0,0.0,106.0,171.0,98.0,151.0,65.0,84.0,59.0,19.0,506.0
2581,Jonathon Simmons,203613,2015-16,55.0,26.0,812.813000,122.0,242.0,18.0,69.0,92.0,16.0,80.0,58.0,53.0,24.0,5.0,331.0
253,Mike Dunleavy,2399,2003-04,75.0,23.0,2340.850000,323.0,720.0,94.0,137.0,185.0,87.0,355.0,220.0,142.0,68.0,13.0,877.0
693,CJ Miles,101139,2014-15,70.0,28.0,1841.090000,329.0,827.0,154.0,130.0,161.0,18.0,196.0,75.0,73.0,60.0,26.0,942.0
208,Tyson Chandler,2199,2004-05,80.0,22.0,2187.900000,207.0,419.0,0.0,226.0,336.0,261.0,514.0,65.0,118.0,69.0,141.0,640.0
116,Mike Miller,2034,2007-08,70.0,28.0,2474.150000,414.0,824.0,155.0,164.0,212.0,51.0,416.0,240.0,182.0,35.0,16.0,1147.0
577,Luol Deng,2736,2015-16,74.0,31.0,2393.940000,339.0,745.0,88.0,145.0,192.0,108.0,335.0,140.0,81.0,74.0,29.0,911.0
192,Tony Parker,2225,2004-05,80.0,23.0,2735.790000,539.0,1118.0,43.0,210.0,323.0,47.0,251.0,490.0,215.0,98.0,4.0,1331.0
1051,Ian Mahinmi,101133,2016-17,31.0,30.0,554.802000,65.0,111.0,0.0,43.0,75.0,47.0,103.0,19.0,34.0,33.0,24.0,173.0
1375,Kosta Koufos,201585,2013-14,80.0,25.0,1349.330000,227.0,459.0,0.0,60.0,93.0,160.0,258.0,39.0,67.0,32.0,71.0,514.0
498,Beno Udrih,2757,2014-15,79.0,32.0,1494.650000,246.0,505.0,26.0,87.0,102.0,20.0,123.0,220.0,89.0,46.0,8.0,605.0
312,Dahntay Jones,2563,2005-06,71.0,25.0,967.025000,109.0,263.0,3.0,60.0,93.0,20.0,84.0,39.0,50.0,38.0,15.0,281.0
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
533,JR Smith,2747,2010-11,79.0,25.0,1967.460000,341.0,784.0,124.0,163.0,221.0,45.0,277.0,175.0,100.0,92.0,16.0,969.0
561,Kris Humphries,2743,2012-13,65.0,28.0,1191.170000,139.0,310.0,0.0,97.0,123.0,126.0,239.0,32.0,57.0,16.0,33.0,375.0
1931,Enes Kanter,202683,2013-14,80.0,22.0,2137.930000,419.0,853.0,0.0,149.0,204.0,222.0,376.0,75.0,144.0,28.0,42.0,987.0
557,Kris Humphries,2743,2008-09,29.0,24.0,265.060000,38.0,90.0,0.0,38.0,48.0,24.0,46.0,10.0,8.0,8.0,6.0,114.0
2286,Giannis Antetokounmpo,203507,2014-15,81.0,20.0,2540.590000,383.0,780.0,7.0,257.0,347.0,100.0,442.0,207.0,173.0,73.0,85.0,1030.0

another way to delete, create new df with columns you want to preserve OG df

new_df = old_df[['col1', 'col2', etc..]]

In [91]:
#list name for new df

reb_list = ['player_name', 'oreb', 'dreb']

reb_df = df_slim[reb_list]


reb_df['total rebounds'] = reb_df['oreb'] + reb_df['dreb']
reb_df

C:\Users\vgeor\AppData\Local\Temp\ipykernel_33008\181474863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reb_df['total rebounds'] = reb_df['oreb'] + reb_df['dreb']

                player_name   oreb   dreb  total rebounds
2580              Joe Young    1.0   16.0            17.0
1491       Dante Cunningham   56.0  221.0           277.0
629            Trevor Ariza   98.0  151.0           249.0
2581       Jonathon Simmons   16.0   80.0            96.0
253           Mike Dunleavy   87.0  355.0           442.0
693                CJ Miles   18.0  196.0           214.0
208          Tyson Chandler  261.0  514.0           775.0
116             Mike Miller   51.0  416.0           467.0
577               Luol Deng  108.0  335.0           443.0
192             Tony Parker   47.0  251.0           298.0
1051            Ian Mahinmi   47.0  103.0           150.0
1375           Kosta Koufos  160.0  258.0           418.0
498              Beno Udrih   20.0  123.0           143.0
312           Dahntay Jones   20.0   84.0           104.0
2668           Danuel House    0.0    1.0             1.0
533                JR Smith   45.0  277.0           322.0
561          Kris Humphries  126.0  239.0           365.0
1931            Enes Kanter  222.0  376.0           598.0
557          Kris Humphries   24.0   46.0            70.0
2286  Giannis Antetokounmpo  100.0  442.0           542.0

### Note: trying updated data from 2023-2024 season taken from Kaggle

In [119]:
''''
Looked thru ChatGPT, seems like an issue with delimeters and recognizing encoding styles. Basically was prompted and separated
with wrong "style", as mentioned below in specifics: 


The file containing characters that were not compatible with UTF-8 encoding.
The file using a semicolon as a delimiter instead of a comma.
'''
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df_updated = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

df_sample = df_updated.sample(10)
print(df_sample)

      Rk             Player   Pos  Age   Tm   G  GS    MP   FG  FGA  ...  \
605  468  Dmytro Skapintsev     C   25  NYK   2   0   1.0  0.0  0.5  ...
717  562       Jalen Wilson    PF   23  BRK  43   3  15.4  1.8  4.2  ...
501  384     Onyeka Okongwu     C   23  ATL  55   8  25.5  4.1  6.6  ...
127   92    Malcolm Cazalon    SG   22  DET   1   0   3.0  0.0  0.0  ...
84    57    James Bouknight    SG   23  CHO  14   0   5.8  1.3  2.9  ...
297  224     Richaun Holmes  C-PF   30  TOT  40  10  13.9  2.1  3.7  ...
482  371    Andrew Nembhard    PG   24  IND  68  47  25.0  3.8  7.7  ...
138  103       Zach Collins     C   26  SAS  69  29  22.1  4.3  8.9  ...
35    27      Dalano Banton    PG   24  BOS  24   1   7.1  0.8  2.1  ...
615  478   Terquavion Smith    PG   21  PHI  16   0   5.3  1.1  2.9  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
605  0.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
717  0.826  1.1  2.0  3.0  1.0  0.3  0.1  0.4  1.1   5.0
501  0.793  2.6  4.2  6.8  1.3  0.5  1.1  0.8  2.9  10.2
127  0.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
84   0.500  0.1  0.6  0.6  0.4  0.1  0.1  0.1  0.2   3.6
297  0.723  1.8  2.8  4.6  0.6  0.3  0.5  0.6  1.9   5.0
482  0.804  0.5  1.5  2.1  4.1  0.9  0.1  1.5  2.1   9.2
138  0.753  1.7  3.7  5.4  2.8  0.5  0.8  1.9  3.0  11.2
35   0.800  0.5  1.0  1.5  0.8  0.2  0.1  0.4  0.8   2.3
615  0.600  0.0  0.3  0.3  0.8  0.5  0.0  0.4  0.5   3.3

[10 rows x 30 columns]

### Note: no spaces in DataFrame column name :)

In [120]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df_updated = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

In [133]:
list(df_updated)
row_selected = ['Player', 'G', 'MP']
df = df_updated[row_selected]

In [134]:
df_slim = df.sample(10)
df_slim

                    Player   G    MP
433          Chimezie Metu  51  16.8
313         Brandon Ingram  64  32.9
713     Vince Williams Jr.  52  27.6
381          Isaiah Livers  23  20.4
399  Sandro Mamukelashvili  46   9.8
662          Fred VanVleet  73  36.8
98             Bruce Brown  33  29.7
48           Nicolas Batum  60  25.5
152             Seth Curry   8  19.9
566            David Roddy  17   3.7

renaming column names to what we want

In [136]:
#essentially force renaming the columns

df_slim.columns = ['player_nameee', 'games_playedffff', 'minutesd']

df_slim

             player_nameee  games_playedffff  minutesd
433          Chimezie Metu                51      16.8
313         Brandon Ingram                64      32.9
713     Vince Williams Jr.                52      27.6
381          Isaiah Livers                23      20.4
399  Sandro Mamukelashvili                46       9.8
662          Fred VanVleet                73      36.8
98             Bruce Brown                33      29.7
48           Nicolas Batum                60      25.5
152             Seth Curry                 8      19.9
566            David Roddy                17       3.7

new method of renaming below:

In [140]:
df_slim = df_slim.rename(columns = {
    'player_nameee': 'player_name', 
    'games_playedffff': 'games_played',  
    'minutesd' : 'minutes'
} )

# Selecting Rows

In [144]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

df_slim = df.sample(20)
df_slim

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
653,508,Oscar Tshiebwe,PF,24,IND,8,0,5.3,1.3,2.5,...,0.750,1.0,1.0,2.0,0.3,0.3,0.1,0.0,0.4,3.3
308,233,Jay Huff,C,25,DEN,20,0,2.5,0.5,0.8,...,1.000,0.1,0.5,0.6,0.1,0.1,0.2,0.1,0.5,1.2
494,380,Jordan Nwora,SF,25,IND,18,0,10.2,2.1,4.6,...,0.818,0.4,1.4,1.8,1.0,0.3,0.1,0.7,1.1,5.2
552,425,Austin Reaves,SG,25,LAL,82,57,32.1,5.6,11.5,...,0.853,0.7,3.6,4.3,5.5,0.8,0.3,2.1,1.9,15.9
315,240,Jonathan Isaac,PF,26,ORL,58,2,15.8,2.5,4.9,...,0.720,1.3,3.2,4.5,0.5,0.7,1.2,0.5,1.1,6.8
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
305,230,Caleb Houstan,SF,21,ORL,59,13,13.8,1.4,3.5,...,0.808,0.5,0.9,1.4,0.5,0.3,0.1,0.3,1.0,4.3
407,318,Caleb Martin,SF,28,MIA,64,23,27.4,3.8,8.7,...,0.778,1.2,3.2,4.4,2.2,0.7,0.5,1.2,2.0,10.0
485,374,Daishen Nix,PG,21,MIN,15,0,3.3,0.6,1.6,...,0.500,0.1,0.1,0.2,0.4,0.3,0.0,0.3,0.1,1.8
730,568,Thaddeus Young,PF,35,PHO,10,0,8.9,1.1,2.1,...,0.333,1.7,1.1,2.8,0.7,0.5,0.2,0.4,1.1,2.3
345,268,Mason Jones,SG,25,SAC,5,0,5.6,0.4,1.6,...,0.500,0.2,0.8,1.0,1.0,0.2,0.0,0.4,0.6,1.4
225,166,Kaiser Gates,SF,27,NOP,1,0,7.0,0.0,4.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
564,437,David Roddy,PF,22,TOT,65,13,18.1,2.5,6.3,...,0.691,0.8,2.4,3.2,1.2,0.4,0.2,0.9,1.1,6.5
325,250,LeBron James,PF,39,LAL,71,71,35.3,9.6,17.9,...,0.750,0.9,6.4,7.3,8.3,1.3,0.5,3.5,1.1,25.7
423,330,Jalen McDaniels,SF,26,TOR,50,1,10.8,1.3,3.8,...,0.730,0.4,1.2,1.6,0.7,0.4,0.1,0.6,1.0,3.4
654,509,P.J. Tucker,PF,38,TOT,31,10,15.7,0.6,1.6,...,1.000,0.9,1.8,2.7,0.5,0.5,0.2,0.3,1.7,1.7
717,562,Jalen Wilson,PF,23,BRK,43,3,15.4,1.8,4.2,...,0.826,1.1,2.0,3.0,1.0,0.3,0.1,0.4,1.1,5.0
94,65,Malcolm Brogdon,PG,31,POR,39,25,28.7,5.6,12.7,...,0.819,0.7,3.1,3.8,5.5,0.7,0.2,1.5,1.5,15.7
100,69,Charlie Brown Jr.,SG,26,NYK,8,0,4.6,0.3,1.3,...,0.000,0.1,0.1,0.3,0.0,0.0,0.3,0.3,0.6,0.8
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,0.755,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3

In [145]:
#selecting row in df
df_slim.iloc[8] #gives us 9th element (counting from 1)

Rk                374
Player    Daishen Nix
Pos                PG
Age                21
Tm                MIN
G                  15
GS                  0
MP                3.3
FG                0.6
FGA               1.6
FG%             0.375
3P                0.4
3PA               1.1
3P%             0.353
2P                0.2
2PA               0.5
2P%             0.429
eFG%              0.5
FT                0.2
FTA               0.4
FT%               0.5
ORB               0.1
DRB               0.1
TRB               0.2
AST               0.4
STL               0.3
BLK               0.0
TOV               0.3
PF                0.1
PTS               1.8
Name: 485, dtype: object

In [147]:
#slicing to select our rows

df_print = df_slim[1:11] #n - m-1, so 1-10

In [148]:
df_print

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
308,233,Jay Huff,C,25,DEN,20,0,2.5,0.5,0.8,...,1.000,0.1,0.5,0.6,0.1,0.1,0.2,0.1,0.5,1.2
494,380,Jordan Nwora,SF,25,IND,18,0,10.2,2.1,4.6,...,0.818,0.4,1.4,1.8,1.0,0.3,0.1,0.7,1.1,5.2
552,425,Austin Reaves,SG,25,LAL,82,57,32.1,5.6,11.5,...,0.853,0.7,3.6,4.3,5.5,0.8,0.3,2.1,1.9,15.9
315,240,Jonathan Isaac,PF,26,ORL,58,2,15.8,2.5,4.9,...,0.720,1.3,3.2,4.5,0.5,0.7,1.2,0.5,1.1,6.8
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
305,230,Caleb Houstan,SF,21,ORL,59,13,13.8,1.4,3.5,...,0.808,0.5,0.9,1.4,0.5,0.3,0.1,0.3,1.0,4.3
407,318,Caleb Martin,SF,28,MIA,64,23,27.4,3.8,8.7,...,0.778,1.2,3.2,4.4,2.2,0.7,0.5,1.2,2.0,10.0
485,374,Daishen Nix,PG,21,MIN,15,0,3.3,0.6,1.6,...,0.500,0.1,0.1,0.2,0.4,0.3,0.0,0.3,0.1,1.8
730,568,Thaddeus Young,PF,35,PHO,10,0,8.9,1.1,2.1,...,0.333,1.7,1.1,2.8,0.7,0.5,0.2,0.4,1.1,2.3
345,268,Mason Jones,SG,25,SAC,5,0,5.6,0.4,1.6,...,0.500,0.2,0.8,1.0,1.0,0.2,0.0,0.4,0.6,1.4

In [151]:
lakers_dict = {
    'first_name' : ['LeBron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'],
    'last_name' : ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'],
    'ppg' : [27.4, 18.7, 9.9, 18.3, 7.8],
    'apg' : [8.3, 2.5, 5.4, 3.0, 1.4],
    'rpg' : [8.5, 5.5, 5.3, 5.1, 3.7]
    
}

lakers_df = pd.DataFrame(lakers_dict, index = ['playmaker', 'pf', 'pg', 'sf', 'sg'])

          first_name last_name   ppg  apg  rpg
playmaker     LeBron     James  27.4  8.3  8.5
pf              Kyle     Kuzma  18.7  2.5  5.5
pg             Lonzo      Ball   9.9  5.4  5.3
sf           Brandon    Ingram  18.3  3.0  5.1
sg              Josh      Hart   7.8  1.4  3.7

using loc (string location vs iloc)

In [153]:
lakers_df.loc['sg']

first_name    Josh
last_name     Hart
ppg            7.8
apg            1.4
rpg            3.7
Name: sg, dtype: object

# Adding and Dropping Rows

In [154]:
import pandas as pd
import numpy as np

In [157]:
raw_data = {
    'player_name' : ['LeBron James', 'Lonzo Ball', 'Kyle Kuzma', np.nan, 'Josh Hart'],
    'team' : ['LAL', 'LAL', 'LAL', np.nan, 'LAL'],
    'gp' : [55, 47, 70, np.nan, np.nan], 
    'blocks' : [33, 29, np.nan, np.nan, 10] 
}

In [158]:
lakers_df = pd.DataFrame(raw_data, columns = ['player_name', 'team', 'gp', 'blocks'])

In [159]:
lakers_df

    player_name team    gp  blocks
0  LeBron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    29.0
2    Kyle Kuzma  LAL  70.0     NaN
3           NaN  NaN   NaN     NaN
4     Josh Hart  LAL   NaN    10.0

### using drop_na method

In [165]:
clean_df1 = lakers_df.dropna(axis = 0, how = 'any')
#axis, row = 0, col = 1
#how, any or all (of rows parameters is NA)
clean_df1

#drops the row with any nAn values

    player_name team    gp  blocks
0  LeBron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    29.0

In [167]:
clean_df2 = lakers_df.dropna(axis = 0, how = 'all')
#axis, row = 0, col = 1
#how, any or all (of rows parameters is NA)
clean_df2

    player_name team    gp  blocks
0  LeBron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    29.0
2    Kyle Kuzma  LAL  70.0     NaN
4     Josh Hart  LAL   NaN    10.0

let's use another example...

say we cared about the gp column

In [170]:
clean_df3 = lakers_df.dropna(subset = ['gp'])
#only looking at gp column

In [171]:
clean_df3
#looks like the how parameter defaulted to any when focusing on nAn in gp column

    player_name team    gp  blocks
0  LeBron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    29.0
2    Kyle Kuzma  LAL  70.0     NaN

In [173]:
updated_df1 = lakers_df.fillna(0)
updated_df1
#first val is what value to fill with

    player_name team    gp  blocks
0  LeBron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    29.0
2    Kyle Kuzma  LAL  70.0     0.0
3             0    0   0.0     0.0
4     Josh Hart  LAL   0.0    10.0

appending rows to df

In [174]:
df1 = pd.DataFrame([['LeBron James', '2014-2015', 25.3], ['LeBron James', '2015-2016', 25.3]], columns = ['player', 'season', 'ppg'])

In [175]:
df1

         player     season   ppg
0  LeBron James  2014-2015  25.3
1  LeBron James  2015-2016  25.3

In [176]:
df2 = pd.DataFrame([['LeBron James', '2016-2017', '26.6']], columns = ['player', 'season', 'ppg'])

In [177]:
df2

         player     season   ppg
0  LeBron James  2016-2017  26.6

In [179]:
#adding one df to another

df_new = df1._append(df2)

df_new

         player     season   ppg
0  LeBron James  2014-2015  25.3
1  LeBron James  2015-2016  25.3
0  LeBron James  2016-2017  26.6

# Inplace Parameter

### basically, do you want to override the existing df?

### if so (yes), then inplace = True, else inplace = False

### the original df has/has not been modified means inplace = True/False

In [180]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

In [182]:
df_slim = df.sample(20)
df_slim

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
115,80,Alec Burks,SG,32,NYK,23,1,13.5,2.2,7.1,...,0.727,0.3,1.4,1.7,0.9,0.3,0.0,0.7,0.5,6.5
145,108,Robert Covington,SF,33,PHI,26,3,16.1,1.5,3.4,...,0.875,1.1,2.3,3.4,0.7,1.3,0.6,0.4,1.9,4.5
617,480,Pat Spencer,PG,27,GSW,6,0,4.3,0.3,0.7,...,0.000,0.3,0.3,0.7,0.8,0.0,0.0,0.2,0.2,0.7
545,420,Immanuel Quickley,PG-SG,24,TOT,68,38,29.2,5.7,13.1,...,0.853,0.3,3.6,3.8,4.9,0.7,0.1,1.5,1.8,17.0
438,339,Vasilije Mici?,PG,30,CHO,30,21,27.2,4.1,9.3,...,0.839,0.4,1.7,2.1,6.2,0.7,0.1,2.3,1.5,10.8
541,416,Payton Pritchard,PG,26,BOS,82,5,22.3,3.6,7.7,...,0.821,0.9,2.4,3.2,3.4,0.5,0.1,0.7,1.3,9.6
508,389,Kelly Oubre Jr.,SF,28,PHI,68,52,30.2,5.7,12.9,...,0.750,1.4,3.6,5.0,1.5,1.1,0.7,1.3,2.9,15.4
260,191,Quentin Grimes,SG,23,DET,6,0,19.2,1.5,7.0,...,0.909,0.2,1.8,2.0,2.3,0.8,0.7,1.2,1.5,5.3
234,171,Harry Giles,C,25,LAL,7,0,2.7,0.1,0.9,...,0.000,0.0,0.6,0.6,0.0,0.1,0.0,0.0,0.0,0.3
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
77,52,Bol Bol,PF,24,PHO,43,0,10.9,2.2,3.5,...,0.789,0.7,2.4,3.2,0.4,0.2,0.6,0.4,1.0,5.2
136,101,Amir Coffey,SF,26,LAC,70,13,20.9,2.4,5.0,...,0.859,0.4,1.7,2.1,1.1,0.6,0.2,0.5,1.5,6.6
19,14,OG Anunoby,SF,26,NYK,23,23,34.9,5.4,11.1,...,0.791,1.0,3.4,4.4,1.5,1.7,1.0,1.7,2.5,14.1
555,428,Naz Reid,C,24,MIN,81,14,24.2,5.0,10.5,...,0.736,0.9,4.3,5.2,1.3,0.8,0.9,1.4,2.1,13.5
607,470,Javonte Smart,PG,24,PHI,1,0,1.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
494,380,Jordan Nwora,SF,25,IND,18,0,10.2,2.1,4.6,...,0.818,0.4,1.4,1.8,1.0,0.3,0.1,0.7,1.1,5.2
359,282,Furkan Korkmaz,SG,26,PHI,35,0,8.6,0.9,2.2,...,0.700,0.1,0.7,0.9,0.7,0.4,0.1,0.3,0.5,2.5
417,325,Skylar Mays,PG,26,POR,21,5,17.0,2.5,6.6,...,0.765,0.4,1.3,1.8,3.6,0.7,0.1,0.9,1.0,6.3
88,59,Malaki Branham,PG,20,SAS,75,29,21.3,3.6,8.4,...,0.873,0.4,1.6,2.0,2.1,0.4,0.1,1.2,1.3,9.2
101,70,Greg Brown III,PF,22,DAL,6,0,6.7,0.8,1.8,...,0.444,0.5,1.0,1.5,0.7,0.0,0.7,0.7,0.8,2.5

In [194]:
#modifying this dataframe

df_slim.sort_values('G') 

df_slim
#sorting values by gp, lowest to highest

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
607,470,Javonte Smart,PG,24,PHI,1,0,1.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,70,Greg Brown III,PF,22,DAL,6,0,6.7,0.8,1.8,...,0.444,0.5,1.0,1.5,0.7,0.0,0.7,0.7,0.8,2.5
617,480,Pat Spencer,PG,27,GSW,6,0,4.3,0.3,0.7,...,0.000,0.3,0.3,0.7,0.8,0.0,0.0,0.2,0.2,0.7
260,191,Quentin Grimes,SG,23,DET,6,0,19.2,1.5,7.0,...,0.909,0.2,1.8,2.0,2.3,0.8,0.7,1.2,1.5,5.3
234,171,Harry Giles,C,25,LAL,7,0,2.7,0.1,0.9,...,0.000,0.0,0.6,0.6,0.0,0.1,0.0,0.0,0.0,0.3
494,380,Jordan Nwora,SF,25,IND,18,0,10.2,2.1,4.6,...,0.818,0.4,1.4,1.8,1.0,0.3,0.1,0.7,1.1,5.2
417,325,Skylar Mays,PG,26,POR,21,5,17.0,2.5,6.6,...,0.765,0.4,1.3,1.8,3.6,0.7,0.1,0.9,1.0,6.3
19,14,OG Anunoby,SF,26,NYK,23,23,34.9,5.4,11.1,...,0.791,1.0,3.4,4.4,1.5,1.7,1.0,1.7,2.5,14.1
115,80,Alec Burks,SG,32,NYK,23,1,13.5,2.2,7.1,...,0.727,0.3,1.4,1.7,0.9,0.3,0.0,0.7,0.5,6.5
145,108,Robert Covington,SF,33,PHI,26,3,16.1,1.5,3.4,...,0.875,1.1,2.3,3.4,0.7,1.3,0.6,0.4,1.9,4.5
438,339,Vasilije Mici?,PG,30,CHO,30,21,27.2,4.1,9.3,...,0.839,0.4,1.7,2.1,6.2,0.7,0.1,2.3,1.5,10.8
359,282,Furkan Korkmaz,SG,26,PHI,35,0,8.6,0.9,2.2,...,0.700,0.1,0.7,0.9,0.7,0.4,0.1,0.3,0.5,2.5
77,52,Bol Bol,PF,24,PHO,43,0,10.9,2.2,3.5,...,0.789,0.7,2.4,3.2,0.4,0.2,0.6,0.4,1.0,5.2
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
545,420,Immanuel Quickley,PG-SG,24,TOT,68,38,29.2,5.7,13.1,...,0.853,0.3,3.6,3.8,4.9,0.7,0.1,1.5,1.8,17.0
508,389,Kelly Oubre Jr.,SF,28,PHI,68,52,30.2,5.7,12.9,...,0.750,1.4,3.6,5.0,1.5,1.1,0.7,1.3,2.9,15.4
136,101,Amir Coffey,SF,26,LAC,70,13,20.9,2.4,5.0,...,0.859,0.4,1.7,2.1,1.1,0.6,0.2,0.5,1.5,6.6
88,59,Malaki Branham,PG,20,SAS,75,29,21.3,3.6,8.4,...,0.873,0.4,1.6,2.0,2.1,0.4,0.1,1.2,1.3,9.2
555,428,Naz Reid,C,24,MIN,81,14,24.2,5.0,10.5,...,0.736,0.9,4.3,5.2,1.3,0.8,0.9,1.4,2.1,13.5
541,416,Payton Pritchard,PG,26,BOS,82,5,22.3,3.6,7.7,...,0.821,0.9,2.4,3.2,3.4,0.5,0.1,0.7,1.3,9.6

here is what he has annunciated, what I believe is key for understanding inplace parameter:

df_slim.sort_values() is NOT modifying the original df, 

HOWEVER!!!

df_slim = df_slim.sort_values() DOES MODIFY because you are updating memory of df_slim to be the sorted version

NOW, here is what is key. In replacement to the above modifying comes the inplace parameter!!3

In [190]:
df_slim.sort_values('G', inplace = True)

#essentially, no need for "df_slim =" line

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
607,470,Javonte Smart,PG,24,PHI,1,0,1.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,70,Greg Brown III,PF,22,DAL,6,0,6.7,0.8,1.8,...,0.444,0.5,1.0,1.5,0.7,0.0,0.7,0.7,0.8,2.5
617,480,Pat Spencer,PG,27,GSW,6,0,4.3,0.3,0.7,...,0.000,0.3,0.3,0.7,0.8,0.0,0.0,0.2,0.2,0.7
260,191,Quentin Grimes,SG,23,DET,6,0,19.2,1.5,7.0,...,0.909,0.2,1.8,2.0,2.3,0.8,0.7,1.2,1.5,5.3
234,171,Harry Giles,C,25,LAL,7,0,2.7,0.1,0.9,...,0.000,0.0,0.6,0.6,0.0,0.1,0.0,0.0,0.0,0.3
494,380,Jordan Nwora,SF,25,IND,18,0,10.2,2.1,4.6,...,0.818,0.4,1.4,1.8,1.0,0.3,0.1,0.7,1.1,5.2
417,325,Skylar Mays,PG,26,POR,21,5,17.0,2.5,6.6,...,0.765,0.4,1.3,1.8,3.6,0.7,0.1,0.9,1.0,6.3
19,14,OG Anunoby,SF,26,NYK,23,23,34.9,5.4,11.1,...,0.791,1.0,3.4,4.4,1.5,1.7,1.0,1.7,2.5,14.1
115,80,Alec Burks,SG,32,NYK,23,1,13.5,2.2,7.1,...,0.727,0.3,1.4,1.7,0.9,0.3,0.0,0.7,0.5,6.5
145,108,Robert Covington,SF,33,PHI,26,3,16.1,1.5,3.4,...,0.875,1.1,2.3,3.4,0.7,1.3,0.6,0.4,1.9,4.5
438,339,Vasilije Mici?,PG,30,CHO,30,21,27.2,4.1,9.3,...,0.839,0.4,1.7,2.1,6.2,0.7,0.1,2.3,1.5,10.8
359,282,Furkan Korkmaz,SG,26,PHI,35,0,8.6,0.9,2.2,...,0.700,0.1,0.7,0.9,0.7,0.4,0.1,0.3,0.5,2.5
77,52,Bol Bol,PF,24,PHO,43,0,10.9,2.2,3.5,...,0.789,0.7,2.4,3.2,0.4,0.2,0.6,0.4,1.0,5.2
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
545,420,Immanuel Quickley,PG-SG,24,TOT,68,38,29.2,5.7,13.1,...,0.853,0.3,3.6,3.8,4.9,0.7,0.1,1.5,1.8,17.0
508,389,Kelly Oubre Jr.,SF,28,PHI,68,52,30.2,5.7,12.9,...,0.750,1.4,3.6,5.0,1.5,1.1,0.7,1.3,2.9,15.4
136,101,Amir Coffey,SF,26,LAC,70,13,20.9,2.4,5.0,...,0.859,0.4,1.7,2.1,1.1,0.6,0.2,0.5,1.5,6.6
88,59,Malaki Branham,PG,20,SAS,75,29,21.3,3.6,8.4,...,0.873,0.4,1.6,2.0,2.1,0.4,0.1,1.2,1.3,9.2
555,428,Naz Reid,C,24,MIN,81,14,24.2,5.0,10.5,...,0.736,0.9,4.3,5.2,1.3,0.8,0.9,1.4,2.1,13.5
541,416,Payton Pritchard,PG,26,BOS,82,5,22.3,3.6,7.7,...,0.821,0.9,2.4,3.2,3.4,0.5,0.1,0.7,1.3,9.6

usually inplace parameter set to false automatically, so when you run "editing" functions, it will run edited version but WONT modify the original DF

We only set Inplace to true if we DO want to overwrite it's information

# Sorting DataFrames

In [195]:
import pandas as pd
import numpy as np

In [199]:
lakers_dict = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'], 
        'ppg': [27.4, 18.7, 9.9, 18.3, 7.8], 
        'apg': [8.3, 2.5, 5.4, 3.0, 1.4],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.7]}

unsorted_df = pd.DataFrame(lakers_dict, index = [1,4,6,2,3])

In [201]:
sorted_df = unsorted_df.sort_index()

sorted_df

  first_name last_name   ppg  apg  rpg
1     Lebron     James  27.4  8.3  8.5
2    Brandon    Ingram  18.3  3.0  5.1
3       Josh      Hart   7.8  1.4  3.7
4       Kyle     Kuzma  18.7  2.5  5.5
6      Lonzo      Ball   9.9  5.4  5.3

Sort based on values in column

sort based on certain col name

In [204]:
sorted_val_df = unsorted_df.sort_values('rpg')

sorted_val_df

  first_name last_name   ppg  apg  rpg
3       Josh      Hart   7.8  1.4  3.7
2    Brandon    Ingram  18.3  3.0  5.1
6      Lonzo      Ball   9.9  5.4  5.3
4       Kyle     Kuzma  18.7  2.5  5.5
1     Lebron     James  27.4  8.3  8.5

Important Ascending/Descending Note!

automatically, ascending is set to True in sort values/index, so false would be descending, like below:

In [205]:
sorted_val_df = unsorted_df.sort_values('rpg', ascending= False)
sorted_val_df

#if set to ascending = False, it will be 
#descending, largest to smallest

  first_name last_name   ppg  apg  rpg
1     Lebron     James  27.4  8.3  8.5
4       Kyle     Kuzma  18.7  2.5  5.5
6      Lonzo      Ball   9.9  5.4  5.3
2    Brandon    Ingram  18.3  3.0  5.1
3       Josh      Hart   7.8  1.4  3.7

In [214]:
#in this example, we want to sort the nan vals to be at top, to be able to notice then filter out

lakers_dict = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'], 
        'ppg': [27.4, 18.7, np.nan, 18.3, np.nan], 
        'apg': [8.3, 2.5, 5.4, 3.0, 1.4],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.7]}

passing na position val

In [215]:
df_missing = pd.DataFrame(lakers_dict)

In [216]:
sort_by_points = df_missing.sort_values('ppg', ascending = False, na_position = 'first')

#basically, sorting by ppg, in descending order with na values at top

In [218]:
sort_by_points

  first_name last_name   ppg  apg  rpg
2      Lonzo      Ball   NaN  5.4  5.3
4       Josh      Hart   NaN  1.4  3.7
0     Lebron     James  27.4  8.3  8.5
1       Kyle     Kuzma  18.7  2.5  5.5
3    Brandon    Ingram  18.3  3.0  5.1

Sorting DataFrame by multiple columns: 

passing list of columns

In [230]:
sort_by_points = df_missing.sort_values(['apg', 'ppg'], ascending = False, na_position = 'first')

In [231]:
sort_by_points

  first_name last_name   ppg  apg  rpg
0     Lebron     James  27.4  8.3  8.5
2      Lonzo      Ball   NaN  5.4  5.3
3    Brandon    Ingram  18.3  3.0  5.1
1       Kyle     Kuzma  18.7  2.5  5.5
4       Josh      Hart   NaN  1.4  3.7

the way I think about it, and as he mentioned, adding 2+ elements are like tiebreakers. For example, 

If BI and Kuz both had let's say 18.0 points, but same asts. 

Sort by [ppg, apg], would have BI over Kuz because BI has more apg!

# Filtering DataFrames

In [232]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

Series Example, categorical col (references a string)

In [233]:
list(df)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

lets sort by team ('TM')

In [250]:
df.sample(5)
#got a sample, let's sort by LAL

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,TM
336,259,James Johnson,PF,36,IND,9,0,5.2,0.3,1.1,...,0.1,0.3,0.4,0.9,0.6,0.1,0.6,1.0,0.9,LAL
123,88,Wendell Carter Jr.,C,24,ORL,55,48,25.6,4.1,7.7,...,2.0,4.9,6.9,1.7,0.6,0.5,1.2,2.2,11.0,LAL
281,212,Killian Hayes,PG,22,DET,42,31,24.0,2.8,6.7,...,0.3,2.6,2.8,4.9,0.9,0.5,1.2,1.8,6.9,LAL
106,75,Troy Brown Jr.,SF,24,TOT,59,15,14.0,1.4,3.8,...,0.4,2.0,2.4,1.0,0.4,0.1,0.5,0.7,4.2,LAL
489,376,Jaylen Nowell,SG,24,DET,4,0,14.5,3.0,5.8,...,0.8,1.8,2.5,0.8,0.3,0.5,0.5,0.5,7.5,LAL

In [282]:
#df['Tm'] == 'TOT'

In [287]:
tot_df = df[df['Tm'] == 'TOT']

we just created a df which filtered by players of Toronto Raptors

In [288]:
tot_df

Empty DataFrame
Columns: [Rk, Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, TM]
Index: []

[0 rows x 31 columns]

he then talks about utilizing variables to make the code easier

In [289]:
pho = (df['Tm'] == 'PHO')

In [294]:
pho_df = df[pho]

df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,TM
0,1,Precious Achiuwa,PF-C,24,PHO,74,18,21.9,3.2,6.3,...,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6,LAL
1,1,Precious Achiuwa,C,24,PHO,25,0,17.5,3.1,6.8,...,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7,LAL
2,1,Precious Achiuwa,PF,24,PHO,49,18,24.2,3.2,6.1,...,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6,LAL
3,2,Bam Adebayo,C,26,PHO,71,71,34.0,7.5,14.3,...,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3,LAL
4,3,Ochai Agbaji,SG,23,PHO,78,28,21.0,2.3,5.6,...,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8,LAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,568,Thaddeus Young,PF,35,PHO,10,0,8.9,1.1,2.1,...,1.7,1.1,2.8,0.7,0.5,0.2,0.4,1.1,2.3,LAL
731,569,Trae Young,PG,25,PHO,54,54,36.0,8.0,18.7,...,0.4,2.3,2.8,10.8,1.3,0.2,4.4,2.0,25.7,LAL
732,570,Omer Yurtseven,C,25,PHO,48,12,11.4,2.1,3.8,...,1.5,2.8,4.3,0.6,0.2,0.4,0.8,1.1,4.6,LAL
733,571,Cody Zeller,C,31,PHO,43,0,7.4,0.6,1.4,...,1.1,1.5,2.6,0.9,0.2,0.1,0.4,1.0,1.8,LAL
734,572,Ivica Zubac,C,26,PHO,68,68,26.4,5.0,7.6,...,2.9,6.3,9.2,1.4,0.3,1.2,1.2,2.6,11.7,LAL

In [295]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

In [297]:
#finding every player that plays for OKC or LAL

okc_or_la_cond = (df['Tm'] == 'OKC') | (df['Tm'] == 'LAL')

or_df = df[okc_or_la_cond]

or_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
59,41,D?vis Bert?ns,PF,31,OKC,15,0,6.1,0.7,1.7,...,0.933,0.1,0.5,0.7,0.6,0.2,0.2,0.1,0.7,2.9
69,46,Bismack Biyombo,C,31,OKC,10,0,7.3,0.7,1.2,...,0.500,0.5,1.3,1.8,0.2,0.1,0.3,0.4,0.7,1.8
126,91,Colin Castleton,C,23,LAL,16,0,3.7,0.6,1.0,...,1.000,0.4,0.4,0.8,0.2,0.1,0.0,0.2,0.7,1.5
130,95,Max Christie,SG,20,LAL,67,7,14.1,1.5,3.6,...,0.783,0.2,1.9,2.1,0.9,0.3,0.3,0.5,0.9,4.2
155,116,Anthony Davis,C,30,LAL,76,76,35.5,9.4,16.9,...,0.816,3.1,9.5,12.6,3.5,1.2,2.3,2.1,2.3,24.7
166,125,Ousmane Dieng,PF,20,OKC,33,0,11.1,1.5,3.5,...,0.875,0.3,1.2,1.5,1.1,0.2,0.2,0.6,0.7,4.0
169,126,Spencer Dinwiddie,PG,30,LAL,28,4,24.2,2.0,5.0,...,0.880,0.1,1.5,1.7,2.4,0.5,0.5,1.0,1.9,6.8
172,129,Luguentz Dort,SF,24,OKC,79,79,28.4,3.6,8.3,...,0.826,0.9,2.7,3.6,1.4,0.9,0.6,0.9,2.9,10.9
194,149,Adam Flagler,SG,24,OKC,2,0,7.0,0.5,3.5,...,0.000,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.5
210,157,Alex Fudge,SF,20,LAL,4,0,3.5,0.3,1.5,...,1.000,0.5,0.0,0.5,0.0,0.0,0.0,0.3,0.3,1.0
231,170,Josh Giddey,SG,21,OKC,80,80,25.1,5.0,10.6,...,0.806,1.4,5.0,6.4,4.8,0.6,0.6,2.1,1.4,12.3
234,171,Harry Giles,C,25,LAL,7,0,2.7,0.1,0.9,...,0.000,0.0,0.6,0.6,0.0,0.1,0.0,0.0,0.0,0.3
235,172,Shai Gilgeous-Alexander,PG,25,OKC,75,75,34.0,10.6,19.8,...,0.874,0.9,4.7,5.5,6.2,2.0,0.9,2.2,2.5,30.1
263,194,Rui Hachimura,PF,25,LAL,68,39,26.9,5.3,9.9,...,0.739,0.9,3.5,4.3,1.2,0.6,0.4,0.7,1.5,13.6
280,211,Jaxson Hayes,C,23,LAL,70,5,12.5,1.8,2.5,...,0.622,1.0,2.0,3.0,0.5,0.5,0.4,0.6,1.8,4.3
284,213,Gordon Hayward,SF,33,OKC,26,3,17.2,1.8,4.1,...,0.692,0.5,2.0,2.5,1.6,0.5,0.0,0.6,0.8,5.3
293,220,D'Moi Hodge,SG,25,LAL,7,0,5.9,0.7,2.1,...,0.500,0.0,0.0,0.0,0.7,0.1,0.1,0.1,0.6,2.0
300,225,Chet Holmgren,C,21,OKC,82,82,29.4,6.2,11.6,...,0.793,1.6,6.3,7.9,2.4,0.6,2.3,1.6,2.4,16.5
301,226,Jalen Hood-Schifino,SG,20,LAL,21,0,5.2,0.5,2.1,...,0.600,0.1,0.5,0.6,0.4,0.1,0.1,0.4,0.6,1.6
325,250,LeBron James,PF,39,LAL,71,71,35.3,9.6,17.9,...,0.750,0.9,6.4,7.3,8.3,1.3,0.5,3.5,1.1,25.7
333,256,Isaiah Joe,SG,24,OKC,78,1,18.5,2.8,6.2,...,0.865,0.4,1.9,2.3,1.3,0.6,0.3,0.6,1.1,8.2
339,262,Keyontae Johnson,SF,23,OKC,9,0,7.3,0.6,1.8,...,0.000,0.4,0.7,1.1,0.4,0.1,0.0,0.4,0.6,1.2
376,296,Maxwell Lewis,SF,21,LAL,34,0,3.0,0.1,0.6,...,0.667,0.1,0.1,0.1,0.2,0.1,0.0,0.3,0.1,0.3
402,314,Tre Mann,PG,22,OKC,13,0,9.2,1.5,3.1,...,1.000,0.3,1.5,1.8,1.5,0.2,0.0,0.7,0.2,3.8
418,325,Skylar Mays,SG,26,LAL,17,0,4.5,0.6,1.2,...,0.000,0.1,0.3,0.4,0.6,0.4,0.1,0.1,0.4,1.3
437,339,Vasilije Mici?,PG,30,OKC,30,0,12.0,1.2,3.0,...,0.737,0.0,0.8,0.8,2.5,0.3,0.1,1.0,0.7,3.3
478,367,Mike Muscala,C,32,OKC,16,0,5.7,0.5,1.4,...,0.000,0.4,0.9,1.3,0.3,0.1,0.1,0.3,0.5,1.1
526,402,Aleksej Pokusevski,PF,22,OKC,10,0,6.0,0.4,1.6,...,0.500,0.2,0.8,1.0,0.5,0.1,0.1,0.3,0.5,1.2
540,415,Taurean Prince,PF,29,LAL,78,49,27.0,3.2,7.3,...,0.735,0.3,2.7,2.9,1.5,0.7,0.4,0.9,1.9,8.9
552,425,Austin Reaves,SG,25,LAL,82,57,32.1,5.6,11.5,...,0.853,0.7,3.6,4.3,5.5,0.8,0.3,2.1,1.9,15.9
553,426,Cam Reddish,SF,24,LAL,48,26,20.5,1.9,4.9,...,0.759,0.6,1.5,2.1,1.0,1.0,0.3,0.6,1.3,5.4
575,442,D'Angelo Russell,PG,27,LAL,76,69,32.7,6.5,14.2,...,0.828,0.4,2.7,3.1,6.3,0.9,0.5,2.1,2.1,18.0
583,450,Olivier Sarr,C,24,OKC,15,0,6.5,0.7,1.3,...,0.667,0.7,1.7,2.4,0.1,0.0,0.5,0.2,1.2,2.3
661,514,Jarred Vanderbilt,PF,24,LAL,29,6,20.0,2.0,3.9,...,0.667,1.4,3.3,4.8,1.2,1.2,0.2,1.0,1.5,5.2
665,518,Gabe Vincent,PG,27,LAL,11,0,19.8,1.4,4.5,...,0.500,0.4,0.5,0.8,1.9,0.8,0.0,0.5,1.7,3.1
677,528,Cason Wallace,SG,20,OKC,82,13,20.6,2.6,5.4,...,0.784,0.6,1.6,2.3,1.5,0.9,0.5,0.5,1.6,6.8
687,534,Lindy Waters III,SG,26,OKC,38,0,7.4,1.3,2.7,...,1.000,0.2,0.9,1.1,0.6,0.1,0.2,0.2,0.6,3.6
697,544,Aaron Wiggins,SG,25,OKC,78,4,15.7,2.7,4.8,...,0.789,0.8,1.6,2.4,1.1,0.7,0.2,0.7,1.2,6.9
705,550,Jalen Williams,PF,22,OKC,71,71,31.3,7.5,14.0,...,0.814,0.5,3.5,4.0,4.5,1.1,0.6,1.7,2.5,19.1
706,551,Jaylin Williams,C,21,OKC,69,1,13.0,1.4,3.3,...,0.805,0.5,2.9,3.4,1.6,0.4,0.4,0.5,1.4,4.0
708,553,Kenrich Williams,PF,29,OKC,69,1,14.9,1.9,4.1,...,0.500,0.9,2.1,3.0,1.3,0.6,0.1,0.5,1.5,4.7
720,563,Dylan Windler,SF,27,LAL,8,0,3.5,0.5,1.1,...,0.000,0.0,0.4,0.4,0.8,0.0,0.0,0.0,0.3,1.5
724,566,Christian Wood,PF,28,LAL,50,1,17.4,2.5,5.3,...,0.702,0.8,4.3,5.1,1.0,0.3,0.7,1.0,1.4,6.9

then he goes over the AND operator

In [299]:
okc = (df['Tm'] == 'OKC')
gs_over_ten = (df['GS'] > 10)

new_df = df[okc & gs_over_ten]

new_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
172,129,Luguentz Dort,SF,24,OKC,79,79,28.4,3.6,8.3,...,0.826,0.9,2.7,3.6,1.4,0.9,0.6,0.9,2.9,10.9
231,170,Josh Giddey,SG,21,OKC,80,80,25.1,5.0,10.6,...,0.806,1.4,5.0,6.4,4.8,0.6,0.6,2.1,1.4,12.3
235,172,Shai Gilgeous-Alexander,PG,25,OKC,75,75,34.0,10.6,19.8,...,0.874,0.9,4.7,5.5,6.2,2.0,0.9,2.2,2.5,30.1
300,225,Chet Holmgren,C,21,OKC,82,82,29.4,6.2,11.6,...,0.793,1.6,6.3,7.9,2.4,0.6,2.3,1.6,2.4,16.5
677,528,Cason Wallace,SG,20,OKC,82,13,20.6,2.6,5.4,...,0.784,0.6,1.6,2.3,1.5,0.9,0.5,0.5,1.6,6.8
705,550,Jalen Williams,PF,22,OKC,71,71,31.3,7.5,14.0,...,0.814,0.5,3.5,4.0,4.5,1.1,0.6,1.7,2.5,19.1

another cool example

finding everyone who was part of 50/40/90

In [311]:
fg_50 = (df['FG%'] > .49)
three_40 = (df['3P%'] > .39)
ft_90 = (df['FT%'] > .89) 

club_df = df[fg_50 & three_40 & ft_90]

club_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
178,135,David Duke Jr.,SG,24,SAS,4,0,12.8,2.5,4.5,...,1.000,0.5,2.0,2.5,1.3,0.5,0.0,0.8,1.0,6.5
202,152,Jordan Ford,PG,25,SAC,6,0,3.7,0.7,1.2,...,1.000,0.0,0.3,0.3,0.3,0.0,0.0,0.2,0.0,2.0
314,239,Kyrie Irving,SG,31,DAL,58,58,35.0,9.7,19.5,...,0.905,0.8,4.2,5.0,5.2,1.3,0.5,1.8,1.9,25.6
360,283,Luke Kornet,C,28,BOS,63,7,15.6,2.3,3.2,...,0.907,1.9,2.3,4.1,1.1,0.4,1.0,0.3,1.2,5.3
402,314,Tre Mann,PG,22,OKC,13,0,9.2,1.5,3.1,...,1.000,0.3,1.5,1.8,1.5,0.2,0.0,0.7,0.2,3.8
441,342,Jordan Miller,SF,24,LAC,8,0,3.5,0.6,1.1,...,1.000,0.4,0.3,0.6,0.0,0.0,0.0,0.1,0.3,1.6

filtering using isin() method

In [312]:
df['Tm'].isin(['OKC', 'TOT', 'LAL'])

#this gives boolean

0       True
1      False
2      False
3      False
4       True
       ...
730    False
731    False
732    False
733    False
734    False
Name: Tm, Length: 735, dtype: bool

In [313]:
df[df['Tm'].isin(['OKC', 'TOT', 'LAL'])]

#this gives df of filter

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,0.616,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.661,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8
17,14,OG Anunoby,SF,26,TOT,50,50,34.0,5.6,11.5,...,0.753,0.9,3.2,4.2,2.1,1.4,0.7,1.6,2.4,14.7
25,20,Marvin Bagley III,C,24,TOT,50,25,21.1,4.8,8.2,...,0.762,2.6,3.6,6.2,1.1,0.4,0.7,1.2,1.6,11.7
34,27,Dalano Banton,PG,24,TOT,54,9,19.4,3.7,9.3,...,0.783,0.8,2.5,3.3,2.4,0.6,0.4,1.4,1.2,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,563,Dylan Windler,SF,27,TOT,17,0,6.4,0.9,1.8,...,0.000,0.2,0.8,0.9,0.6,0.1,0.0,0.1,0.4,2.5
720,563,Dylan Windler,SF,27,LAL,8,0,3.5,0.5,1.1,...,0.000,0.0,0.4,0.4,0.8,0.0,0.0,0.0,0.3,1.5
724,566,Christian Wood,PF,28,LAL,50,1,17.4,2.5,5.3,...,0.702,0.8,4.3,5.1,1.0,0.3,0.7,1.0,1.4,6.9
725,567,Delon Wright,PG,31,TOT,47,1,15.8,1.6,4.0,...,0.822,0.4,1.4,1.8,2.5,1.1,0.2,0.3,0.7,4.5
728,568,Thaddeus Young,PF,35,TOT,33,6,13.3,2.0,3.3,...,0.400,1.4,1.7,3.1,1.7,0.7,0.2,0.5,1.5,4.2

Groupby

used when we have just a ton of data, and want to group by, split into groups and calc results. 

groupby method, grouping based on columns (parameter)

In [314]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

In [315]:
list(df)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

interesting groupby type note

In [317]:
type(df.groupby('Tm'))

pandas.core.groupby.generic.DataFrameGroupBy

In [318]:
type(df)

pandas.core.frame.DataFrame

see how when groupby method called, the type adds another "layer" for a df groupby obj

In [319]:
df = pd.read_csv('../nba_csv/nba_season_stats.csv')

group by team and get the mean for age column

In [321]:
grouped_tm = df.groupby('Tm')

grouped_tm['Age'].mean().sort_values(ascending = False)

Tm
CLE    29.000000
NOP    28.086957
SAS    28.058824
HOU    28.000000
GSW    28.000000
WAS    27.133333
MIN    27.000000
OKC    26.705882
DAL    26.652174
LAC    26.571429
MIA    26.421053
DET    26.318182
UTA    26.238095
MIL    26.000000
NYK    25.857143
IND    25.842105
DEN    25.833333
SAC    25.777778
ATL    25.500000
LAL    25.500000
CHO    25.470588
MEM    25.458333
BOS    25.400000
PHI    25.304348
ORL    25.263158
BRK    25.227273
TOR    24.833333
CHI    24.619048
PHO    24.363636
POR    24.125000
Name: Age, dtype: float64

info on the specific groupings, getgroup method

In [322]:
lakers = grouped_tm.get_group('LAL')
lakers

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

- split data into groups based on idea/criteria
- apply function to each group
- combine results into new obj

In [ ]:
#Examples of above bullets: 

#split

group_tm = df.groupby('Tm')

#apply

group_tm['fg3m'].describe()

#combine

df_3p_by_season = group_tm['fg3m'].sum()
df_3p_by_season.sort_values()

In [324]:
type(grouped_tm)

pandas.core.groupby.generic.DataFrameGroupBy

agg or aggregation method

helps us perform diff operations on diff cols

expects dictionary parameter

In [ ]:
grouped_tm.agg({
    'pts' : 'sum',
    'ast' : 'mean'
})

# Concatenate and Append

merge df's info from diff df

In [330]:
file_path_updated = '../nba_csv/player_stats_total_updated.csv'
df = pd.read_csv(file_path_updated, encoding='latin1', delimiter=';')

df_A = df.sample(10)
df_B = df.sample(10)

In [333]:
df_new = pd.concat([df_A, df_B])

#order depends on entry order

Issue with concat, can lead to duplicate indices, and when you call on those indices, it may lead to issues as one index could have two values

Solution below:

In [335]:
df_new.reset_index(drop = True)

df_new

#or 

df_new = pd.concat([df_A, df_B], ignore_index = True)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
683,532,TyTy Washington Jr.,PG,22,MIL,11,0,5.1,0.5,1.8,...,0.000,0.1,0.4,0.5,0.5,0.3,0.0,0.2,0.1,1.3
240,175,Jacob Gilyard,PG,25,BRK,4,0,11.3,0.0,1.5,...,0.000,0.3,0.5,0.8,1.5,1.5,0.0,0.3,1.0,0.0
8,5,Nickeil Alexander-Walker,SG,25,MIN,82,20,23.4,2.9,6.6,...,0.800,0.4,1.6,2.0,2.5,0.8,0.5,0.9,1.7,8.0
421,328,T.J. McConnell,PG,31,IND,71,4,18.2,4.6,8.4,...,0.790,0.5,2.2,2.7,5.5,1.0,0.1,1.5,1.1,10.2
687,534,Lindy Waters III,SG,26,OKC,38,0,7.4,1.3,2.7,...,1.000,0.2,0.9,1.1,0.6,0.1,0.2,0.2,0.6,3.6
164,123,Hamidou Diallo,SG,25,WAS,2,0,2.5,0.5,1.0,...,0.000,1.0,0.0,1.0,0.5,1.0,0.0,0.5,0.5,1.0
162,122,Mamadi Diakite,PF,27,SAS,3,0,5.3,1.3,1.7,...,0.667,0.3,0.7,1.0,0.7,0.0,0.3,0.0,0.3,4.0
669,522,Franz Wagner,SF,22,ORL,72,72,32.5,7.3,15.2,...,0.850,1.0,4.3,5.3,3.7,1.1,0.4,1.9,2.3,19.7
512,391,Cameron Payne,PG,29,PHI,31,8,19.4,3.5,8.4,...,0.913,0.5,1.3,1.8,3.1,0.6,0.3,1.1,1.7,9.3
409,320,KJ Martin,SF,23,TOT,60,2,12.4,1.6,3.0,...,0.537,0.7,1.5,2.2,0.9,0.4,0.2,0.5,1.7,3.7
339,262,Keyontae Johnson,SF,23,OKC,9,0,7.3,0.6,1.8,...,0.000,0.4,0.7,1.1,0.4,0.1,0.0,0.4,0.6,1.2
605,468,Dmytro Skapintsev,C,25,NYK,2,0,1.0,0.0,0.5,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184,141,Kessler Edwards,SF,23,SAC,54,0,5.1,0.6,1.5,...,0.556,0.2,0.6,0.8,0.3,0.2,0.1,0.1,0.5,1.7
295,222,Jrue Holiday,PG,33,BOS,69,69,32.8,4.8,10.0,...,0.833,1.2,4.2,5.4,4.8,0.9,0.8,1.8,1.6,12.5
180,137,Kevin Durant,PF,35,PHO,75,75,37.2,10.0,19.1,...,0.856,0.5,6.1,6.6,5.0,0.9,1.2,3.3,1.8,27.1
270,201,Ron Harper Jr.,PF,23,TOR,1,0,4.0,0.0,0.0,...,0.000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
569,438,Ryan Rollins,PG,21,MIL,3,0,4.0,0.3,0.7,...,0.000,0.0,0.7,0.7,1.0,0.7,0.0,0.3,0.3,1.0
599,462,Pascal Siakam,PF,29,IND,41,41,31.8,8.7,15.8,...,0.699,2.1,5.7,7.8,3.7,0.8,0.4,1.4,2.6,21.3
235,172,Shai Gilgeous-Alexander,PG,25,OKC,75,75,34.0,10.6,19.8,...,0.874,0.9,4.7,5.5,6.2,2.0,0.9,2.2,2.5,30.1
441,342,Jordan Miller,SF,24,LAC,8,0,3.5,0.6,1.1,...,1.000,0.4,0.3,0.6,0.0,0.0,0.0,0.1,0.3,1.6

append method (for dfs)

In [ ]:
df_A.append(df_B)

serves similar purpose to concat method

# Joining and Merging DataFrames

In [337]:
df1 = pd.read_csv('../nba_csv/player_general_traditional_per_game_data.csv')
df2 = pd.read_csv('../nba_csv/player_id_player_name.csv')

In [343]:
df1.sample(5)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
505,384,1997-98,82.0,26.0,34.6,5.5,12.0,0.457,0.2,0.6,...,1.7,2.6,0.647,1.0,3.0,2.1,1.3,1.2,0.4,12.8
9620,1627854,2017-18,80.0,24.0,19.0,2.6,6.2,0.421,1.1,2.9,...,0.6,0.9,0.667,0.2,1.2,1.0,0.5,0.4,0.0,6.9
1584,953,1999-00,75.0,24.0,16.0,2.4,4.8,0.499,0.0,0.0,...,1.2,1.8,0.644,1.6,2.5,0.3,0.9,0.4,0.5,6.0
6193,200757,2009-10,82.0,26.0,28.6,2.4,5.4,0.440,0.5,1.6,...,0.7,1.1,0.674,0.9,3.8,1.8,1.1,1.2,0.6,6.0
536,361,1997-98,80.0,31.0,29.6,5.4,11.2,0.479,0.3,1.1,...,3.1,4.5,0.689,1.9,3.2,2.1,1.8,1.2,1.1,14.2

In [344]:
df2.sample(5)

     player_id        player_name
107    1627761    DeAndre' Bembry
75     1626191   Chris McCullough
288     204038  Langston Galloway
59      203998      Bruno Caboclo
241     201941        Jordan Hill

we see that df1 does not have the player name col, and common col is player_id, hence player_id will be used to merge dataframe

In [341]:
#using merge method


merged = pd.merge(df1, df2, on='player_id')

#on basically means what column we are merging the new df ON

In [342]:
merged.sample(10)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts,player_name
1133,201941,2012-13,29.0,25.0,15.8,2.7,5.3,0.497,0.0,0.1,...,2.1,0.656,2.8,2.9,0.4,0.9,0.3,0.7,6.7,Jordan Hill
2516,203482,2016-17,75.0,26.0,20.5,3.5,6.8,0.512,0.9,2.6,...,1.6,0.732,1.0,3.8,2.0,1.3,0.6,0.4,9.0,Kelly Olynyk
675,202334,2010-11,65.0,22.0,24.6,3.3,5.7,0.576,0.0,0.0,...,2.0,0.555,2.6,4.5,0.6,0.7,0.6,1.0,7.7,Ed Davis
274,201147,2007-08,79.0,22.0,22.8,2.3,6.2,0.374,0.1,0.5,...,1.4,0.800,1.0,2.7,1.4,1.1,1.0,0.3,5.8,Corey Brewer
2303,203078,2016-17,77.0,24.0,34.9,8.3,17.2,0.482,2.9,7.2,...,4.4,0.825,0.7,2.4,3.5,2.0,1.1,0.3,23.1,Bradley Beal
3399,1626178,2018-19,59.0,24.0,20.9,3.4,8.3,0.411,0.2,0.8,...,3.1,0.645,1.4,3.8,1.6,1.2,0.7,0.5,8.9,Rondae Hollis-Jefferson
1795,1718,2014-15,73.0,37.0,26.2,4.0,9.0,0.447,1.6,4.2,...,2.9,0.781,0.6,3.4,2.0,1.3,0.6,0.3,11.9,Paul Pierce
1882,202087,2015-16,73.0,29.0,22.4,1.8,3.5,0.518,0.2,0.8,...,0.9,0.667,0.8,2.5,1.0,0.8,0.9,0.2,4.5,Alonzo Gee
3048,201196,2017-18,28.0,32.0,14.0,1.5,4.2,0.359,0.3,0.9,...,2.0,0.772,0.2,1.1,2.8,1.1,0.5,0.1,4.9,Ramon Sessions
2042,201975,2015-16,3.0,28.0,14.5,2.3,6.7,0.350,1.3,3.0,...,1.3,1.000,0.3,1.3,1.0,0.3,0.0,0.0,7.3,Jodie Meeks

Fancy/More Tricks

In [346]:
#specifying columns in a merge

merged = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on = 'player_id')

merged.sample(3)

      player_id       player_name season_id  ast  stl   pts
1452     201160       Jason Smith   2013-14  0.9  0.4   9.7
2942     200771  Sergio Rodriguez   2009-10  3.2  0.8   6.6
2046       2544      LeBron James   2010-11  7.0  1.6  26.7

did not call the "how" portion, which is automatically set to intermerge, basically meaning if there was no player_id for a player in one of the df, they would be dropped from the merge

In [347]:
merged = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on = 'player_id', how = 'inner')

merged.sample(3)

      player_id       player_name season_id  ast  stl   pts
1755     201950      Jrue Holiday   2012-13  8.0  1.6  17.7
3173       2754        Tony Allen   2012-13  1.2  1.5   8.9
2248    1627850  Marshall Plumlee   2017-18  0.3  0.0   1.8

other types of merges

In [348]:
raw_data = {
        'player_id': ['1', '2', '3', '4', '5', '6', '7'],
        'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'], 
        'last_name': ['James', 'Nowitzki', 'Carter', 'Kaner', 'Van Fleet', 'Rose', 'George']}

df_A = pd.DataFrame(raw_data, columns = ['player_id', 'first_name', 'last_name'])

raw_data = {
        'player_id': ['1', '2', '3', '4', '5'],
        'career_ppg': [27.2, 20.7, 17.2, 11.9, 18.8]}

df_B = pd.DataFrame(raw_data, columns = ['player_id', 'career_ppg'])

In [356]:
#left merge - keeping left merge cols and attempting to match right col with left

left_df = pd.merge(df_A, df_B, on = 'player_id', how = 'left')

left_df

  player_id first_name  last_name  career_ppg
0         1     Lebron      James        27.2
1         2       Dirk   Nowitzki        20.7
2         3      Vince     Carter        17.2
3         4       Enes      Kaner        11.9
4         5       Fred  Van Fleet        18.8
5         6    Derrick       Rose         NaN
6         7       Paul     George         NaN

you'll see for any empty spaces right df didnt have that left df did, NaN values assigned

next is right, or right-outer merge/join

left also is left-outer

In [357]:
right_df = pd.merge(df_A, df_B, on = 'player_id', how = 'right')

right_df

  player_id first_name  last_name  career_ppg
0         1     Lebron      James        27.2
1         2       Dirk   Nowitzki        20.7
2         3      Vince     Carter        17.2
3         4       Enes      Kaner        11.9
4         5       Fred  Van Fleet        18.8

next is outer, or full outer join. 

Joins all the rows of both df, tries to match but fills ALL empty with NaN

gives decently similar to left-outer
______________________________________

what if col names are diff?

merge can take left on and right on argument

In [363]:
raw_data = {
        'id': ['1', '2', '3', '4', '5', '6', '7'],
        'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'], 
        'last_name': ['James', 'Nowitzki', 'Carter', 'Kaner', 'Van Fleet', 'Rose', 'George']}

df_A = pd.DataFrame(raw_data, columns = ['id', 'first_name', 'last_name'])

raw_data = {
        'player_id': ['1', '2', '3', '4', '5'],
        'career_ppg': [27.2, 20.7, 17.2, 11.9, 18.8]}

df_B = pd.DataFrame(raw_data, columns = ['player_id', 'career_ppg'])

In [364]:
left_right = pd.merge(df_A, df_B, how = 'right', left_on = 'id', right_on = 'player_id')

left_right

  id first_name  last_name player_id  career_ppg
0  1     Lebron      James         1        27.2
1  2       Dirk   Nowitzki         2        20.7
2  3      Vince     Carter         3        17.2
3  4       Enes      Kaner         4        11.9
4  5       Fred  Van Fleet         5        18.8

basically, it tells pandas that left on of id and right on of player_id are the SAME content to join ON, yet they have different names

we see that we have two 'ids' now, so let's do this:

In [365]:
df4 = pd.merge(df_A, df_B, how = 'right', left_on = 'id', right_on = 'player_id').drop('id', axis = 1)
df4

  first_name  last_name player_id  career_ppg
0     Lebron      James         1        27.2
1       Dirk   Nowitzki         2        20.7
2      Vince     Carter         3        17.2
3       Enes      Kaner         4        11.9
4       Fred  Van Fleet         5        18.8

In [ ]:
#outside of pd. way is directly calling on df

#calling on pd object vs calling on df

df5 = df_1.merge(df_2, how = 'inner', left_on = 'id', right_on = 'player_id').drop('player_id', axis=1)
df5

# Iterating over DF

In [369]:
nba_stats = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh', 'Lance', 'Michael', 'Tyson', 'Ivica'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart', 'Stephenson', 'Beasley', 'Chander', 'Zubac'], 
        'ppg': [28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7], 
        'apg': [12.3, 2.1, 8.9, 2.5, 3.6, 0.2, 1.8, 1.9, 1.5],
        'rpg': [7.1, 5.4, 5.5, 8.1, 3.2, 5.5, 7.7, 2.3, 8.1]}
laker_df = pd.DataFrame(nba_stats, columns = ['first_name', 'last_name', 'ppg', 'apg', 'rpg'])

first option, using itterrows method

returns iterator containing index and data of each row as Series obj

In [385]:
for row in laker_df.iterrows():
    print(row)
    print(type(row))

(0, first_name    Lebron
last_name      James
ppg             28.2
apg             12.3
rpg              7.1
Name: 0, dtype: object)
<class 'tuple'>
(1, first_name     Kyle
last_name     Kuzma
ppg            21.1
apg             2.1
rpg             5.4
Name: 1, dtype: object)
<class 'tuple'>
(2, first_name    Lonzo
last_name      Ball
ppg            14.3
apg             8.9
rpg             5.5
Name: 2, dtype: object)
<class 'tuple'>
(3, first_name    Brandon
last_name      Ingram
ppg              17.2
apg               2.5
rpg               8.1
Name: 3, dtype: object)
<class 'tuple'>
(4, first_name    Josh
last_name     Hart
ppg           18.2
apg            3.6
rpg            3.2
Name: 4, dtype: object)
<class 'tuple'>
(5, first_name         Lance
last_name     Stephenson
ppg                 11.2
apg                  0.2
rpg                  5.5
Name: 5, dtype: object)
<class 'tuple'>
(6, first_name    Michael
last_name     Beasley
ppg              14.2
apg               1.8
rpg               7.7
Name: 6, dtype: object)
<class 'tuple'>
(7, first_name      Tyson
last_name     Chander
ppg               4.5
apg               1.9
rpg               2.3
Name: 7, dtype: object)
<class 'tuple'>
(8, first_name    Ivica
last_name     Zubac
ppg             6.7
apg             1.5
rpg             8.1
Name: 8, dtype: object)
<class 'tuple'>

In [383]:
for index, row in laker_df.iterrows():
    print(row['first_name'], row['last_name'], row['ppg'])

Lebron James 28.2
Kyle Kuzma 21.1
Lonzo Ball 14.3
Brandon Ingram 17.2
Josh Hart 18.2
Lance Stephenson 11.2
Michael Beasley 14.2
Tyson Chander 4.5
Ivica Zubac 6.7

ittertuples method, iterating over rows and returning tuple (not rly sure what that means)

this is preferred vs itterrows because ittertuples stores data as series, while iterrows doesnt

In [387]:
for row in laker_df.itertuples():
    print(row.first_name, row.last_name, row.ppg)
    print(type(row))

Lebron James 28.2
<class 'pandas.core.frame.Pandas'>
Kyle Kuzma 21.1
<class 'pandas.core.frame.Pandas'>
Lonzo Ball 14.3
<class 'pandas.core.frame.Pandas'>
Brandon Ingram 17.2
<class 'pandas.core.frame.Pandas'>
Josh Hart 18.2
<class 'pandas.core.frame.Pandas'>
Lance Stephenson 11.2
<class 'pandas.core.frame.Pandas'>
Michael Beasley 14.2
<class 'pandas.core.frame.Pandas'>
Tyson Chander 4.5
<class 'pandas.core.frame.Pandas'>
Ivica Zubac 6.7
<class 'pandas.core.frame.Pandas'>

In [391]:
ppg_data = []

for row in laker_df.itertuples():
    ppg_data.append(row.ppg)
    
ppg_data

[28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7]

# Applying Functions to DataFrames

In [392]:
df = pd.read_csv('../nba_csv/player_stats_total.csv')

example below shows adding a year to every player's age

In [397]:
df2 = df.sample(5)

df2
#we see the age column, now let's add a year

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1649,Ty Lawson,201951,2009-10,65.0,22.0,1317.440,201.0,390.0,34.0,106.0,140.0,42.0,82.0,203.0,82.0,48.0,2.0,542.0
605,Shaun Livingston,2733,2008-09,12.0,23.0,231.312,31.0,60.0,0.0,9.0,10.0,3.0,25.0,20.0,9.0,7.0,2.0,71.0
619,Tony Allen,2754,2009-10,54.0,28.0,888.902,129.0,253.0,0.0,72.0,119.0,52.0,93.0,72.0,66.0,59.0,19.0,330.0
642,Alan Anderson,101187,2011-12,17.0,29.0,460.725,55.0,142.0,24.0,29.0,34.0,8.0,26.0,26.0,25.0,5.0,3.0,163.0
1377,Kosta Koufos,201585,2015-16,78.0,27.0,1482.420,236.0,444.0,0.0,57.0,104.0,169.0,254.0,33.0,48.0,40.0,70.0,529.0

In [394]:
def add_year(current_age):
    new_age = current_age + 1
    return new_age

above we created a function that'll add a year to age.

now will utilize the built in apply function:

In [400]:
df2['age'] = df2['age'].apply(add_year)

df2

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1649,Ty Lawson,201951,2009-10,65.0,23.0,1317.440,201.0,390.0,34.0,106.0,140.0,42.0,82.0,203.0,82.0,48.0,2.0,542.0
605,Shaun Livingston,2733,2008-09,12.0,24.0,231.312,31.0,60.0,0.0,9.0,10.0,3.0,25.0,20.0,9.0,7.0,2.0,71.0
619,Tony Allen,2754,2009-10,54.0,29.0,888.902,129.0,253.0,0.0,72.0,119.0,52.0,93.0,72.0,66.0,59.0,19.0,330.0
642,Alan Anderson,101187,2011-12,17.0,30.0,460.725,55.0,142.0,24.0,29.0,34.0,8.0,26.0,26.0,25.0,5.0,3.0,163.0
1377,Kosta Koufos,201585,2015-16,78.0,28.0,1482.420,236.0,444.0,0.0,57.0,104.0,169.0,254.0,33.0,48.0,40.0,70.0,529.0

calculating ppg using total gp and total points scored

In [405]:
player_stats = {'player_name': ['Lebron', 'Dirk', 'Wade', 'Curry', 'George'], 
        'season_id': ['2017-18', '2017-18', '2017-18', '2017-18', '2017-18'], 
        'total_points': [2251, 927, 765, 1346, 1734],
        'games_played': [82, 77, 81, 51, 79]}
df = pd.DataFrame(player_stats)

df

  player_name season_id  total_points  games_played
0      Lebron   2017-18          2251            82
1        Dirk   2017-18           927            77
2        Wade   2017-18           765            81
3       Curry   2017-18          1346            51
4      George   2017-18          1734            79

In [408]:
def get_ppg(row): #takes row as input
    #setting variable to column
    total_points = row[2] #2nd col
    games_played = row[3]
    
    ppg = round((total_points / games_played), 2)
    return ppg

In [409]:
df.apply(get_ppg, axis = 1)

C:\Users\vgeor\AppData\Local\Temp\ipykernel_33008\3006156687.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  total_points = row[2] #2nd col
C:\Users\vgeor\AppData\Local\Temp\ipykernel_33008\3006156687.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  games_played = row[3]

0    27.45
1    12.04
2     9.44
3    26.39
4    21.95
dtype: float64

In [410]:
#saving it to new col

df['ppg'] = df.apply(get_ppg, axis = 1)

df

C:\Users\vgeor\AppData\Local\Temp\ipykernel_33008\3006156687.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  total_points = row[2] #2nd col
C:\Users\vgeor\AppData\Local\Temp\ipykernel_33008\3006156687.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  games_played = row[3]

  player_name season_id  total_points  games_played    ppg
0      Lebron   2017-18          2251            82  27.45
1        Dirk   2017-18           927            77  12.04
2        Wade   2017-18           765            81   9.44
3       Curry   2017-18          1346            51  26.39
4      George   2017-18          1734            79  21.95

using column name vs position

In [411]:
df = pd.read_csv('../nba_csv/player_stats_total.csv')

In [417]:
list(df)

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts',
 '(newly added) ft%']

In [450]:
def ft_calc(row):
    ft_perc = (row['ftm'] / (row['fta'] + .00001))
    return round(ft_perc,2)

In [448]:
df['(newly added) ft%'] = df.apply(ft_calc, axis = 1)

df.sample(3)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,(newly added) ft%
1443,Russell Westbrook,201566,2009-10,82.0,21.0,2812.72,485.0,1160.0,23.0,329.0,422.0,143.0,258.0,652.0,268.0,108.0,34.0,1322.0,0.78
1383,Luc Mbah a Moute,201601,2012-13,58.0,26.0,1326.16,151.0,377.0,13.0,72.0,126.0,89.0,167.0,55.0,70.0,42.0,14.0,387.0,0.57
1169,Nick Young,201156,2016-17,60.0,31.0,1556.28,272.0,633.0,170.0,77.0,90.0,25.0,113.0,58.0,36.0,37.0,14.0,791.0,0.86

what if we wanted one player's career free throw percentage?

In [451]:
#group by name, sum up values, apply func

final = df.groupby('player_name').sum().apply(ft_calc, axis = 1)

final.sort_values(ascending = False)

player_name
Chinanu Onuaku          1.0
Nicolas Laprovittola    1.0
Michael Gbinije         1.0
Diamond Stone           1.0
Georges Niang           1.0
                       ...
Ben Bentil              0.0
Josh Huestis            0.0
Mike Tobey              0.0
Patricio Garino         0.0
Tim Quarterman          0.0
Length: 486, dtype: float64

# Arrays

he goes over a bit more on np, numpy

numpy gives us an array ds similar to list, if you remember from class

In [ ]:
np.array#list as input

will be using np arrays to assimilate numbers and calculate stats on a list quick

basic np operations

In [452]:
kawhi_steals = [4,5,2,1,3]

In [453]:
kawhi_arr = np.array(kawhi_steals)
kawhi_arr

array([4, 5, 2, 1, 3])

In [454]:
kawhi_arr.mean()

3.0

In [455]:
klaw_twomore_steals = kawhi_arr + 2

klaw_twomore_steals

array([6, 7, 4, 3, 5])

In [457]:
player_stats = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])
player_stats.shape

(3, 4)

In [458]:
some_other_player_stats = np.array([[4, 3, 2, 4],
                   [56, 46, 27, 18],
                   [4, 4, 4, 5]])
some_other_player_stats.shape

(3, 4)

In [459]:
final = player_stats + some_other_player_stats
final

array([[ 5,  5,  5,  8],
       [61, 52, 34, 26],
       [13, 14, 15, 17]])